.faq-hero {
  .imgs-wrapper {
    display: none;
  }
  .title {
    text-align: center;
    color: $medium-black;
    margin-top: 0;
  }
  .description {
    color: $medium-black;
    font-size: 1.33rem;
    line-height: 1.6;
    text-align: center;
  }
  .faq-wrapper {
    .question:hover ~ .answer{
      will-change: max-height;
    }

    .question,
    .answer {
      font-size: 1.166rem;
      color: $medium-black;
      padding: 18px 50px 18px 16px;
      position: relative;
      border-color: $dim-gray;
      border-style: solid;
      box-sizing: border-box;
      outline: none;
      &:not(.answer) {
        border-width: 1px 1px 0 1px;
        cursor: pointer;
        &::after {
          content: "";
          display: block;
          position: absolute;
          height: 20px;
          width: 20px;
          right: 15px;
          top: 50%;
          transform: translateY(-75%) rotate(45deg);
          background-color: transparent;
          border-style: solid;
          border-color: $medium-beige;
          border-width: 0 1px 1px 0;
          transition: 150ms linear;
        }
        &[aria-expanded="true"] {
          &::after {
            transform: translateY(-25%) rotate(225deg);
          }
        }
      }
    }
    .answer {
      margin: 0 0 18px;
      border-width: 1px;
      max-height: 999px;
      transition: 150ms linear;
      &[aria-expanded="false"] {
        max-height: 1px;
        overflow: hidden;
        padding: 0 50px 0 16px;
        border-bottom-width: 0;
      }
      p {
        margin: 0;
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .faq-hero {
    display: flex;
    .imgs-wrapper {
      display: block;
      position: relative;
      min-height: 450px;
      min-width: 40%;
      width: 40%;
      margin-right: 40px;
      .img-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.back-image {
          height: 290px;
          width: 290px;
          img {
            transform: translate(-10px, +10%);
          }
        }
        &.front-image {
          height: 200px;
          width: 180px;
          img {
            transform: translate(75px, -50%);
          }
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .title {
      text-align: left;
      margin-top: 0;
    }
    .description {
      text-align: left;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .faq-hero {
    .imgs-wrapper {
      min-height: 530px;
      min-width: 50%;
      width: 50%;
      margin-right: 80px;
      .img-wrapper {
        &.back-image {
          height: 400px;
          width: 550px;
        }
        &.front-image {
          height: 300px;
          width: 260px;
          img {
            transform: translate(220px, -25%);
          }
        }
      }
    }
    .description {
      font-size: 20px;
    }
  }
}
