.posts-wrapper {
    .title {
      margin-top: 0;
      text-align: center;
    }
    .posts-container {
      padding-top: 60px;
      padding-bottom: 110px;
      .slider-wrapper {
        max-width: 400px;
        margin: 0 auto;
        &:not(.slick-slider) {
          display: flex;
          overflow: hidden;
          .product-item {
            min-width: 100%;
          }
        }
        &.slick-slider {
            .slick-dots {
                top: auto;
                bottom: -55px;
                transform: translate(-50%, 50%);
            }
            .slick-arrow {
                top: auto;
                bottom: -55px;
                transform: translateY(50%);
            }
        }
        .post-card {
          min-width: 100%;
          .img-wrapper {
            position: relative;
            width: 100%;
            max-width: 290px;
            margin: 0 auto 23px;
            height: 265px;
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .title {
            display: block;
            font-family: $saa;
            font-size: 1.333rem;
            color: $medium-black;
            text-transform: uppercase;
            text-align: center;
            height: 2em;
            max-height: 2em;
            overflow: hidden;
            &:hover {
              text-decoration: underline;
            }
          }
          .excerpt {
            font-size: 1.25rem;
            text-align: center;
          }
        }
      }
    }
  }
  
  @media (min-width: $breakpoint-tablet) {
    .posts-wrapper {
      .posts-container {
          padding-bottom: 32px;
          .slider-wrapper {
              display: flex;
              flex-wrap: wrap;
              max-width: 100%;
              .post-card {
                  margin-bottom: 38px;
                  width: calc(50% - 15px);
                  min-width: calc(50% - 15px);
                  &:nth-child(odd) {
                      margin-right: 30px;
                  }
              }
          }
      }
    }
  }
  
  @media (min-width: $breakpoint-desktop) {
    .posts-wrapper {
      .posts-container {
          .slider-wrapper {
              .post-card {
                  margin-bottom: 38px;
                  width: calc(50% - 15px);
                  min-width: calc(50% - 15px);
                  &:nth-child(odd) {
                      margin-right: 30px;
                  }
                  .img-wrapper {
                      max-width: 450px;
                      height: 430px;
                  }
              }
          }
      }
    }
  }
  