.hero {
  margin-bottom: 64px;
  .img-wrapper {
    position: relative;
    width: 320px;
    height: 350px;
    margin: 0 auto;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .content-wrapper {
    background-color: #95848017;
    padding: 100px 40px 30px;
    box-sizing: border-box;
    margin: -100px auto 0;
    max-width: 650px;
    text-align: center;
    h1 {
      margin: 20px 0 0;
      color: $medium-black;
    }
    .description {
      font-size: 1.25rem;
      line-height: 1.5;
      color: $medium-black;
    }
    .social-wrapper {
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      svg {
        fill: #767676;
        height: 30px;
        width: 30px;
        padding: 9px;
      }
    }
  }
}

@media(min-width: $breakpoint-tablet) {
  .hero {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    .img-wrapper {
      // height: 465px;
      // width: 427px;
      // min-width: 427px;
      margin: 0;
    }
    .content-wrapper {
      flex: 1 1 100%;
      max-width: none;
      text-align: left;
      margin: 0 0 0 -200px;
      padding: 50px 50px 5px 250px;
      min-height: 400px;
      .social-wrapper {
        justify-content: flex-start;
      }
    }
  }
}

@media(min-width: $breakpoint-desktop) {
  .hero {
    .img-wrapper {
      height: 465px;
      width: 427px;
      min-width: 427px;
    }
    .content-wrapper {
      margin: 0 0 0 -300px;
      padding: 50px 50px 5px 350px;
      min-height: 530px;
    }
  }
}