* {
    outline: none;
}

html, body {
    scroll-behavior: smooth;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}
.padding-container {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

button {
    padding: 0;
}

a {
    color: $reddish-brown;
}

.hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
    opacity: 0;
}

.desktop,
.tablet {
    display: none !important;
}

.top-header-distance {
    padding-top: 80px;
}

input,
textarea {
    padding: 13px 16px;
    border: 1px solid $medium-black;
    background-color: transparent;
    font-size: 16px;
    color: $medium-black;
    box-sizing: border-box;
    outline: none;
}

textarea {
    resize: none;
}

div.blockOverlay {
    background-color: unset !important;
}

.select2-container--default {
    .select2-selection--single {
        padding: 13px 16px;
        border: 1px solid $medium-black;
        background-color: transparent;
        font-size: 16px;
        color: $medium-black;
        box-sizing: border-box;
        border-radius: 0;
        height: auto;
        text-align: left;
        font-weight: 400;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 10px;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-style: solid;
            border-color: #333;
            border-width: 0 2px 2px 0;
            transform: translate(-25%, -50%) rotate(45deg);
            box-sizing: border-box;
            transition: transform 150ms linear;
        }
        .select2-selection__rendered {
            padding: 0;
            line-height: unset;
        }
        .select2-selection__arrow {
            display: none;
        }
    }
    &.select2-container--open {
        .select2-selection--single {
            box-shadow: 2px 4px 4px #00000024;
            &::after {
                transform: translate(-25%, 0) rotate(-135deg);
            }
        }
    }
    .select2-dropdown {
        background-color: $cream;
        border-color: $medium-black;
        border-radius: 0;
        box-shadow: 2px 4px 4px #00000024;
        .select2-search__field {
            padding: 5px 16px;
            border: 1px solid $medium-black;
        }
        .select2-results__options {
            .select2-results__option--highlighted {
                background-color: $medium-beige;
                color: $medium-black;
            }
            li {
                &[data-selected="true"] {
                    font-weight: 600;
                    background-color: $light-beige;
                    color: $black;
                }
            }
        }
    }
}

.woocommerce-notices-wrapper {
    transition: max-height 150ms linear;
    overflow: hidden;
    ul {
        position: relative;
        list-style: none;
        padding: 20px;
        margin: 0;
        border: 1px solid $medium-black;
        border-radius: 5px;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            a {
                order: 1;
            }
        }
    }
}

.woocommerce-NoticeGroup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 50;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            box-sizing: border-box;
            padding: 30px 30px;
            background-color: #333333d6;
            color: #fff;
            border-radius: 30px;
            box-shadow: 2px 3px 4px #0000003b;
            margin-bottom: 10px;
        }
    }
}

.woocommerce-Price-currencySymbol {
    margin-right: 3px;
}

input {
    &[type="checkbox"],
    &[type="radio"] {
        position: relative;
        margin-right: 12px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 20px;
        width: 20px;
        min-width: 20px;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 12px;
            height: 12px;
            background-color: $reddish-brown;
            opacity: 0;
            transition: opacity 150ms linear;
        }
        &:checked {
            ~ label {
                text-decoration: underline;
                font-weight: 600;
            }
            &::after {
                opacity: 1;
            }
        }
    }
    &[type="radio"] {
        border-radius: 50%;
        &::after {
            border-radius: 50%;
        }
    }
}

.slick-slider {
    .slick-list {
        height: 100%;

        .slick-track {
            height: 100%;

            .slick-slider {
                height: 100%;

                & > div {
                    height: 100%;
                }
            }
        }
    }
    .slick-arrow {
        position: absolute;
        z-index: 20;
        height: 48px;
        width: 48px;
        border: none;
        border-radius: 0;
        background-color: transparent;
        cursor: pointer;
        transition: 150ms linear;
        top: calc(50% - 24px);
        &::after {
            content: "";
            position: absolute;
            top: calc(50% - 12px);
            display: block;
            height: 26px;
            width: 26px;
            border-style: solid;
            border-color: $medium-beige;
            box-sizing: border-box;
        }
        &.slick-prev {
            left: 0;
            &::after {
                left: calc(50% - 6px);
                border-width: 0 0 2px 2px;
                transform: rotate(45deg);
            }
        }
        &.slick-next {
            right: 0;
            &::after {
                right: calc(50% - 6px);
                border-width: 0 2px 2px 0;
                transform: rotate(-45deg);
            }
        }
        &.slick-disabled {
            opacity: 0;
            cursor: default;
        }
    }
    .slick-dots {
        position: absolute;
        bottom: 20px;
        left: 50%;
        display: flex;
        transform: translateX(-50%);
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            display: block;
            height: 14px;
            margin: 7px;
            button {
                display: block;
                width: 14px;
                height: 14px;
                border: 2px solid $medium-beige;
                border-radius: 50%;
                background-color: transparent;
                font-size: 0;
                cursor: pointer;
                transition: background-color 150ms linear;
            }
            &.slick-active {
                button {
                    background-color: $medium-beige;
                }
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .container {
        margin-left: 40px;
        margin-right: 40px;
    }
    .padding-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .mobile {
        display: none;
    }

    .tablet {
        display: initial;
    }
}

@media (min-width: $breakpoint-desktop) {
    .container {
        margin-left: 100px;
        margin-right: 100px;
    }
    .padding-container {
        padding-left: 100px;
        padding-right: 100px;
    }

    .mobile {
        display: none !important;
    }

    .desktop {
        display: initial !important;
    }

    .top-header-distance {
        padding-top: 85px;
    }
}

@media (min-width: $breakpoint-desktop-wide) {
    .container {
        margin-left: calc((100% - 1400px) / 2);
        margin-right: calc((100% - 1400px) / 2);
    }
    .padding-container {
        padding-left: calc((100% - 1400px) / 2);
        padding-right: calc((100% - 1400px) / 2);
    }

    .mobile {
        display: none !important;
    }

    .desktop {
        display: initial !important;
    }
}
