@font-face {
  font-family: "Lydian";
  src: url("#{$font-path}/lydian.woff2") format("woff2"),
    url("#{$font-path}/lydian.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("#{$font-path}/Roboto-Regular.woff2") format("woff2"),
    url("#{$font-path}/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("#{$font-path}/Roboto-Light.woff2") format("woff2"),
    url("#{$font-path}/Roboto-Light.ttf") format("truetype");
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("#{$font-path}/Roboto-Bold.woff2") format("woff2"),
    url("#{$font-path}/Roboto-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Suissework";
  src: url("#{$font-path}/suisseworks-bold.woff2") format("woff2"),
    url("#{$font-path}/suisseworks-bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Room205";
  src: url("#{$font-path}/room205.woff2") format("woff2"),
    url("#{$font-path}/room205.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "SAA";
  src: url("#{$font-path}/SAA.woff2") format("woff2"),
    url("#{$font-path}/SAA.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}

html,
body {
  font-size: 12px;
  font-family: $roboto;
  color: $base-dark-color;
}

@media (max-resolution: 300dpi) {
  html,
  body {
    font-weight: 300;
  }
}

@media (min-width: $breakpoint-tablet) {
  html,
  body {
    font-size: 14px;
  }
}

@media (min-width: $breakpoint-desktop) {
  html,
  body {
    font-size: 16px;
  }
}

.h1 {
  font-size: 3rem;
  font-family: $room205;
}

.h2 {
  font-size: 2.33rem;
  font-family: $room205;
  font-weight: 700;
}

.h3 {
  font-size: 1.25rem;
  font-family: $lydian;
}

@media(min-width: $breakpoint-tablet) {
  .h2 {
    letter-spacing: -1px;
  }
}