.journals-hero {
  text-align: center;
  padding-top: 125px;
  padding-bottom: 40px;
  svg {
    height: 105px;
    width: 100px;
  }
  .title {
    text-align: center;
    color: $medium-black;
  }
  .description {
    color: $medium-black;
    font-size: 1.33rem;
    line-height: 1.6;
    text-align: center;
  }
}

@media (min-width: $breakpoint-tablet) {
  .journals-hero {
    display: flex;
    align-items: center;
    svg {
      height: 170px;
      width: 170px;
      min-width: 170px
    }
    .hero-content {
      padding: 0 150px;
      .title {
        margin-top: 0;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .journals-hero {
    svg {
      height: 225px;
      width: 205px;
      min-width: 205px
    }
    .hero-content {
      .description {
        font-size: 20px;
      }
    }
  }
}
