.search-content {
  padding-bottom: 40px;
  .searchform {
    position: relative;
    margin-bottom: 36px;
    input {
      width: 100%;
      height: 48px;
      box-sizing: border-box;
      font-size: 1.125rem;
      padding: 15px 55px 15px 24px;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      svg {
        height: 22px;
        width: 22px;
      }
    }
  }
  .search-results {
    text-align: center;
    font-weight: 300;
    color: $black-olive;
    margin: 0;
  }
}
