.journals-hero {
  position: relative;
  padding-top: 125px;
  padding-bottom: 105px;
  .imgs-wrapper {
    position: relative;
    height: 300px;
    .img-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &.back-image {
        height: 227px;
        width: 231px;
        img {
          transform: translate(-10px, 0);
        }
      }
      &.front-image {
        height: 164px;
        width: 144px;
        img {
          transform: translate(60px, 50%);
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  svg {
    position: absolute;
    bottom: 20px;
    right: 0;
    height: 74px;
    width: 90px;
  }
  .title {
    text-align: center;
    color: $medium-black;
  }
  .description {
    color: $medium-black;
    font-size: 1.33rem;
    line-height: 1.6;
    text-align: center;
  }
}

@media (min-width: $breakpoint-tablet) {
  .journals-hero {
    display: flex;
    align-items: center;
    .imgs-wrapper {
      height: auto;
      min-height: 450px;
      min-width: 40%;
      width: 40%;
      margin-right: 40px;
      .img-wrapper {
        &.back-image {
          height: 290px;
          width: 290px;
          img {
            transform: translate(-10px, -10%);
          }
        }
        &.front-image {
          height: 200px;
          width: 180px;
          img {
            transform: translate(75px, 50%);
          }
        }
      }
    }
    svg {
      top: 110px;
      right: 12px;
      height: 81px;
      width: 100px;
    }
    .title {
      text-align: left;
      margin-top: 0;
    }
    .description {
      text-align: left;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .journals-hero {
    .imgs-wrapper {
      min-height: 530px;
      min-width: 50%;
      width: 50%;
      margin-right: 80px;
      .img-wrapper {
        &.back-image {
          height: 400px;
          width: 550px;
        }
        &.front-image {
          height: 300px;
          width: 260px;
          img {
            transform: translate(220px, 25%);
          }
        }
      }
    }
    svg {
      top: 135px;
      right: 75px;
    }
    .description {
      font-size: 20px;
    }
  }
}

@media (min-width: $breakpoint-desktop-wide) {
  .journals-hero {
    svg {
      right: calc((100% - 1440px) / 2);
    }
  }
}
