.posts-wrapper {
  .title {
    margin-top: 0;
    text-align: center;
  }
  .featured-post {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fafafa;
    .img-wrapper {
      position: relative;
      width: 100%;
      max-width: 290px;
      margin: 0 auto;
      height: 265px;
      z-index: 0;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 3;
        background: linear-gradient(to right, #ffefe1bb, #ffefe120);
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content-wrapper {
      max-width: 290px;
      margin: 0 auto;
      .title {
        margin-top: 0;
        font-family: $room205;
        font-size: 2rem;
        text-transform: uppercase;
        transform: translateY(-30%);
        margin-bottom: 12px;
        color: $medium-black;
      }
      .excerpt {
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 37px;
        color: $medium-black;
      }
      .button {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: max-content;
      }
    }
  }
  .posts-container {
    padding-top: 60px;
    padding-bottom: 110px;
    .slider-wrapper {
      max-width: 400px;
      margin: 0 auto;
      &:not(.slick-slider) {
        display: flex;
        overflow: hidden;
        .product-item {
          min-width: 100%;
        }
      }
      &.slick-slider {
        .slick-dots {
          top: auto;
          bottom: -55px;
          transform: translate(-50%, 50%);
        }
        .slick-arrow {
          top: auto;
          bottom: -55px;
          transform: translateY(50%);
        }
      }
      .post-card {
        min-width: 100%;
        .img-wrapper {
          position: relative;
          width: 100%;
          max-width: 290px;
          margin: 0 auto 23px;
          height: 265px;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content-wrapper {
          max-width: 290px;
          margin: 0 auto;
          .title {
            display: block;
            font-family: $saa;
            font-size: 1.333rem;
            color: $medium-black;
            text-transform: uppercase;
            text-align: center;
            &:hover {
              text-decoration: underline;
            }
          }
          .excerpt {
            font-size: 1.25rem;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .posts-wrapper {
    .featured-post {
      .card {
        display: flex;
        position: relative;
        justify-content: flex-end;
        max-width: 987px;
        margin: 0 auto;
        .content-wrapper {
          order: 0;
          position: absolute;
          top: 50%;
          left: 0;
          width: 35%;
          max-width: 35%;
          margin: 0;
          transform: translateY(-50%);
          z-index: 5;
          .title {
            transform: none;
            text-align: left;
          }
          .excerpt {
            text-align: left;
          }
          .button {
            margin: 0;
          }
        }
        .img-wrapper {
          width: 70%;
          min-width: 70%;
          margin: 0;
          height: 396px;
        }
      }
    }
    .posts-container {
      padding-bottom: 32px;
      .slider-wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        .post-card {
          margin-bottom: 38px;
          width: calc(50% - 15px);
          min-width: calc(50% - 15px);
          &:nth-child(odd) {
            margin-right: 30px;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .posts-wrapper {
    .posts-container {
      .slider-wrapper {
        .post-card {
          margin-bottom: 38px;
          width: calc(50% - 15px);
          min-width: calc(50% - 15px);
          &:nth-child(odd) {
            margin-right: 30px;
          }
          .img-wrapper {
            max-width: 450px;
            height: 430px;
          }
        }
      }
    }
  }
}
