.is-print {
  header,
  footer,
  .checkout-hero,
  .woocommerce-breadcrumb,
  h1.title {
    display: none;
  }
  .woocommerce-table {
      td, th {
          text-align: left;
      }
  }
}

.thank-you-page {
  position: relative;
  padding: 59px 18px 32px;
  border: 2px solid $dim-gray;
  margin-bottom: 66px;
  margin-top: 72px;
  text-align: center;
  box-sizing: border-box;
  svg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 78px;
    width: 118px;
  }
  p {
    font-size: 1.25rem;
    color: $medium-black;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  .my-account.button {
    margin-top: 36px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .thank-you-page {
    padding: 59px 73px 48px;
    svg {
        width: 138px;
        height: 90px;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .thank-you-page {
    padding: 59px 98px 48px;
    svg {
        width: 176px;
        height: 114px;
    }
  }
}
