body {
  .my-account-content {
    padding-bottom: 40px;
    .woocommerce-breadcrumb {
      text-align: center;
    }
    h1.title {
      text-align: center;
      color: $medium-black;
      margin: 0 0 30px;
      font-size: 2.5rem;
    }
    .woocommerce {
      input {
        &[type="text"],
        &[type="password"],
        &[type="number"],
        &[type="tel"],
        &[type="email"] {
          width: 100%;
          height: 47px;
        }
      }
      .woocommerce-form-login__rememberme {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      }
      button {
        &[type="submit"] {
          width: 100%;
        }
      }
    }
  }
  &.logged-in {
    .my-account-content {
      .woocommerce {
        .woocommerce-MyAccount-navigation {
          margin-bottom: 30px;
          background: $white;
          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            &:not(.slick-slider) {
              display: flex;
              overflow: hidden;
              align-items: center;
              justify-content: center;
            }
            li {
              box-sizing: border-box;
              a {
                display: block;
                color: $base-dark-color;
                text-decoration: none;
                text-transform: uppercase;
                padding: 16px;
                white-space: nowrap;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                box-sizing: border-box;
                font-size: 1.166rem;
              }
              &.is-active {
                border-bottom: 2px solid $suva-grey;
                .menu-item-url {
                  font-weight: 700;
                }
              }
            }
          }
        }
        .woocommerce-MyAccount-content {
          width: 100%;
          max-width: 800px;
          margin: 0 auto;
          text-align: center;
          .payment-btn {
            margin-top: 15px;
          }
          .addresses {
            line-height: 1.5;
          }
          .woocommerce-Message {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            .button {
              margin-top: 15px;
            }
          }
          mark {
            background-color: unset;
            color: inherit;
            font-weight: 600;
          }
          .woocommerce-customer-details {
            width: 100%;
            text-align: left;
            p {
              margin: 0;
            }
            line-height: 1.5;
          }
          table {
            width: 100%;
            text-align: center;
            border-collapse: collapse;
            thead {
              th {
                background-color: $medium-black;
                color: $white;
                font-weight: 600;
                font-size: 1.333rem;
                padding: 20px 30px;
                border: 1px solid $medium-black;
              }
            }
            tbody, tfoot {
              tr {
                td,th {
                  padding: 20px 30px;
                  font-size: 1.16rem;
                  border: 1px solid $medium-black;
                }
              }
            }
          }
        }
      }
    }
  }

  &:not(.logged-in) {
    .woocommerce {
      max-width: 450px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  body {
    &.logged-in {
      .my-account-content {
        .woocommerce-breadcrumb {
          text-align: center;
        }
        h1.title {
          text-align: center;
          color: $medium-black;
          margin: 0 0 30px;
          font-size: 2.5rem;
        }
        .woocommerce {
          display: flex;
          padding-bottom: 80px;
          .woocommerce-MyAccount-navigation {
            background: $white;
            ul {
              padding: 0;
              margin: 0;
              list-style: none;
              &:not(.slick-slider) {
                display: flex;
                overflow: hidden;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                align-items: flex-start;
              }
              li {
                width: 100%;
                &.is-active {
                  border-bottom-width: 0;
                  border-right: 2px solid $suva-grey;
                }
                a {
                  text-align: left;
                }
              }
            }
          }
          .woocommerce-MyAccount-content {
            padding: 0 200px;
          }
        }
      }
    }
  }
}
