.author-wrapper {
  max-width: 1160px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: rgba(51, 51, 51, 0.3);
  margin: 0 auto 46px;
  .img-wrapper {
    position: relative;
    height: 87px;
    width: 87px;
    margin: 0 auto 10px;
    border-radius: 50%;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .author-infos {
    .name {
      font-size: 1.5rem;
      color: $yellow-dark-beige;
      font-family: $lydian;
      margin: 0 0 14px;
      a {
        color: $yellow-dark-beige;
        text-decoration: none;
      }
    }
    .description {
      font-size: 1.166rem;
      color: #292929;
      line-height: 1.5;
      margin: 0;
    }
  }
}

@media(min-width: $breakpoint-tablet) {
  .author-wrapper {
    display: flex;
    .img-wrapper {
      margin: 0 40px 0 0;
      height: 123px;
      width: 123px;
      min-width: 123px;
    }
    .author-infos {
      text-align: left;
    }
  }
}