.comments-wrapper {
  padding-bottom: 45px;
  padding-top: 45px;
  .title {
    font-family: $room205;
    font-size: 2.5rem;
    color: $black;
    text-transform: uppercase;
    margin: 0 0 29px;
    text-align: center;
  }
  #comments {
    display: none;
  }
  .commentlist {
    list-style: none;
    padding: 0;
    margin: 0;
    .children {
      padding: 0 0 0 40px;
      list-style: none;
      .comment {
        .comment-body {
          border-style: solid;
          border-color: $yellow-dark-beige;
          border-width: 0 0 0 2px;
          padding-left: 25px;
        }
      }
    }
    .comment {
      .comment-body {
        .comment-author {
          .avatar {
            display: none;
          }
          cite {
            a {
              color: $medium-black;
              font-size: 1.5rem;
              margin: 0 0 7px;
              text-decoration: none;
              font-style: normal;
            }
          }
          .says {
            display: none;
          }
        }
        .comment-meta {
          margin: 0 0 20px;
          a {
            font-weight: 300;
            font-size: 1.333rem;
            color: #292929;
            text-decoration: none;
          }
          .comment-edit-link {
            &:hover {
              text-decoration: underline;
            }
          }
        }
        p {
          font-size: 1.5rem;
          color: #292929;
          line-height: 1.5;
          font-weight: 500;
          margin: 0 0 18px;
        }
        .reply {
          margin: 0 0 23px;
          svg {
            transform: rotate(180deg);
            stroke: $dark-beige;
            margin-right: 8px;
          }
          a {
            position: relative;
            color: $dark-beige;
            font-size: 1.5rem;
            text-decoration: none;
          }
        }
      }
    }
  }
  .comment-respond {
    padding: 14px 19px;
    border: 2px solid $dim-gray;
    margin-top: 50px;
    margin-bottom: 50px;
    .comment-reply-title {
      font-family: $room205;
      font-size: 2.5rem;
      margin: 0 0 28px;
      text-transform: uppercase;
      text-align: center;
      small {
          position:absolute;
          bottom: 0;
          width: max-content;
          left: 50%;
          transform: translate(-50%, 100%);
          font-size: 1rem;
          margin: 0;
      }
    }
    .comment-form {
      display: flex;
      flex-direction: column;
      .comment-notes {
        margin-top: 0;
        order: 0;
      }
      p[class^="comment-form"]:not(.comment-form-cookies-consent) {
        input,
        textarea {
          width: 100%;
          &[type="checkbox"] {
            border-radius: 0;
          }
        }
        label {
          display: none;
        }
        &.comment-form-author {
          order: 1;
        }
        &.comment-form-email {
          order: 2;
        }
        &.comment-form-comment {
          order: 3;
        }
      }
      .comment-form-cookies-consent {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        order: 4;
      }
      .form-submit {
        order: 5;
        margin: 0;
        .submit {
          display: block;
          width: max-content;
          margin: 40px auto 0;
          background-color: $medium-black;
          border: 2px solid $medium-black;
          color: $white;
          font-size: 16px;
          font-family: $saa;
          text-transform: uppercase;
          transition: 150ms linear;
          cursor: pointer;
          &:hover {
            background-color: transparent;
            color: $medium-black;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .comments-wrapper {
    .comment-respond {
      margin-top: 80px;
      padding: 50px 50px;
      position: relative;
      .comment-reply-title {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        padding: 0 20px;
      }
      .comment-form {
        flex-direction: row;
        flex-wrap: wrap;
        .comment-form-author,
        .comment-form-email {
          width: calc(50% - 7px);
        }

        .comment-form-author {
          margin-right: 14px;
        }

        .comment-notes,
        .comment-form-comment,
        .comment-form-cookies-consent {
          flex: 1 0 100%;
        }
      }
    }
  }
}
