.single {
  article {
    max-width: 1160px;
    margin: 0 auto;
    box-sizing: content-box;
    .content {
      font-size: 1.16rem;
      line-height: 1.5;
      color: #292929;
      padding-bottom: 28px;

      p {
        margin: 0 0 15px;
        font-size: 16px;
      }

      a {
        color: $yellow-dark-beige;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0 0 20px;
      }

      h1 {
        font-size: 3rem;
        font-family: $room205;
      }

      h2 {
        font-size: 2.33rem;
        font-family: $room205;
        font-weight: 700;
      }

      h3 {
        font-size: 1.25rem;
        font-family: $lydian;
      }

      h4,
      h5,
      h6 {
        font-size: 1.16rem;
      }

      figcaption {
        font-size: 1rem;
        text-align: center;
      }

      .wp-block-cover {
        margin-bottom: 20px;
      }

      .wp-block-image {
        img {
          height: auto !important;
        }
      }

      ul:not(.blocks-gallery-grid) {
        list-style: none;
        padding: 0;
        margin: 0 0 20px;
        li {
          position: relative;
          padding-left: 20px;
          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0.5rem;
            left: 10px;
            width: 10px;
            height: 10px;
            transform: translateX(-50%);
            background-color: $yellow-dark-beige;
            border-radius: 50%;
          }
        }
      }

      ol {
        list-style: none;
        margin: 0 0 20px;
        padding: 0;
        counter-reset: list;
        li {
          position: relative;
          padding-left: 20px;
          counter-increment: list;
          &::before {
            content: counter(list) ". ";
            display: block;
            position: absolute;
            bottom: 0;
            left: 10px;
            transform: translateX(-50%);
            color: $yellow-dark-beige;
          }
        }
      }

      .wp-block-table {
        margin: 0 0 20px;
        table {
          tbody {
            tr {
              &:first-child {
                td {
                  background-color: $medium-black;
                  color: $white;
                  font-weight: 600;
                  font-size: 1.333rem;
                }
              }
              td {
                padding: 20px 30px;
                font-size: 1.16rem;
                border: 1px solid $medium-black;
              }
            }
          }
        }
      }

      .wp-block-file {
        text-align: center;
        .wp-block-file__button {
          border-radius: 0;
          background-color: $medium-black;
          color: $white;
          font-size: 1.333rem;
          text-transform: uppercase;
        }
      }

      .wp-block-media-text {
        margin-bottom: 20px;
      }

      .wp-block-buttons {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      .wp-block-button {
        .wp-block-button__link {
          display: inline-block;
          font-size: 16px;
          padding: 13px 25px;
          box-sizing: border-box;
          border-style: solid;
          border-width: 2px;
          text-transform: uppercase;
          text-decoration: none;
          transition: 150ms linear;
          cursor: pointer;
          font-family: $saa;
          height: 48px;
          white-space: nowrap;
          border-color: $medium-black;
          border-radius: 0;
          color: $white;
        }
        &.is-style-outline {
          .wp-block-button__link {
            background-color: transparent;
            color: $medium-black;
            border-color: $medium-black;
          }
        }
      }
    }
  }
}
