.single {
  color: $medium-black;
  line-height: 1.5;
  .hero {
    padding-top: 125px;
    .title {
      text-align: center;
      font-family: $room205;
      font-size: 2.9rem;
      margin: 0 0 37px;
      line-height: 1;
    }
    .excerpt {
      text-align: center;
      font-size: 1.75rem;
      font-family: $lydian;
      margin: 0 0 5px;
      line-height: 1;
    }
    .infos {
      text-align: center;
      font-family: $roboto;
      font-size: 1.16rem;
      margin: 0 0 30px;
      color: #292929;
      a {
        color: $yellow-dark-beige;
      }
    }
  }
  .img-wrapper {
    position: relative;
    width: 100%;
    height: 161px;
    max-width: 1160px;
    margin: 0 auto 30px;
    &.square {
      max-width: 161px;
      img {
        object-fit: contain;
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .single {
    .img-wrapper {
      height: 418px;
      margin-bottom: 63px;
      &.square {
        max-width: 418px;
      }
    }
  }
}
