.more-posts {
  padding-top: 45px;
  padding-bottom: 110px;
  background-color: $cream;
  &>.title {
    text-transform: uppercase;
    font-family: $room205;
    color: $black;
    font-size: 2.5rem;
    text-align: center;
    margin: 0 0 36px;
  }
  .slider-wrapper {
    max-width: 400px;
    margin: 0 auto;
    &:not(.slick-slider) {
      display: flex;
      overflow: hidden;
      .product-item {
        min-width: 100%;
      }
    }
    &.slick-slider {
      .slick-dots {
        top: auto;
        bottom: -55px;
        transform: translate(-50%, 50%);
      }
      .slick-arrow {
        top: auto;
        bottom: -55px;
        transform: translateY(50%);
      }
    }
    .post-card {
      min-width: 100%;
      margin-bottom: 0;
      &.radio {
        .img-wrapper {
          height: 290px;
        }
        .title {
          margin-bottom: 0;
        }
      }
      .img-wrapper {
        position: relative;
        width: 100%;
        max-width: 290px;
        margin: 0 auto 23px;
        height: 265px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .title {
        display: block;
        font-family: $saa;
        font-size: 1.333rem;
        color: $medium-black;
        text-transform: uppercase;
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin: 0 auto 10px;
        height: 2.8em;
        width: 100%;
        max-width: 290px;
        text-decoration: none;
        overflow: hidden;
        transition: text-decoration 150ms linear;
        &:hover {
          text-decoration: underline;
        }
      }
      .description {
        font-size: 1.25rem;
        text-align: center;
        max-width: 290px;
        margin:  0 auto;
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .more-posts {
    padding-bottom: 45px;
    .slider-wrapper {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      .post-card {
        margin-bottom: 38px;
        width: calc((100% - 30px) / 3);
        min-width: calc((100% - 30px) / 3);
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
}