.share-wrapper {
  padding-bottom: 36px;
  .title {
    text-align: center;
    margin: 0 0 30px;
    font-family: $room205;
    font-size: 1.5rem;
    color: $medium-black;
  }

  .share-buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: center; 
    .share {
      position: relative;
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      &:first-child {
          margin-right: 23px;
      }
      &.facebook {
        background-color: $medium-black;
      }
      &.copy {
        background-color: $light-brown;
        &.copied {
          &::after {
            content: "Copied";
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translate(-50%, 100%);
            padding: 1px 6px;
            background-color: #333333c4;
            color: $white;
            border-radius: 5px;
          }
        }
      }
      svg {
        height: 20px;
        width: 20px;
        min-width: 20px;
        fill: $white;
      }
    }
  }
}
