.form-wrapper {
    padding-top: 37px;
    padding-bottom: 37px;
    .notices {
        background-color: $cream;
        padding: 27px 46px;
        .notice {
            text-align: center;
            &:not(:first-child) {
                margin-top: 29px;
            }
            .title {
                color: $medium-black;
                font-weight: 600;
                font-size: 1.25rem;
                margin: 0 0 8px;
            }
            .text {
                color: $medium-black;
                font-size: 1.166rem;
                margin: 0;
            }
        }
    }

    .contact-form-wrapper {
        margin-top: 52px;
        padding: 39px 19px;
        position: relative;
        border: 1px solid $dim-gray;
        box-sizing: border-box;
        .form-title {
            position: absolute;
            top: 0;
            left: 19px;
            transform: translateY(-50%);
            margin: 0;
            background-color: $white;
            padding: 0 10px;
        }
        .contact-form {
            .description {
                font-size: 1.25rem;
                color: $black-olive;
                font-weight: 300;
                line-height: 1.5;
                margin: 0 0 29px;
            }

            input,
            textarea {
                display: block;
                width: 100%;
                margin-bottom: 29px;
            }

            button {
                &[type="submit"] {
                    padding-left: 45px;
                    padding-right: 45px;
                    display: block;
                    width: 100%;
                    margin-bottom: 0;
                    position: relative;
                    &:disabled {
                        cursor: default;
                    }
                    &.loading {
                        &::after {
                            content: "";
                            display: inline-block;
                            color: #ffffff;
                            height: 1rem;
                            width: 1rem;
                            margin-left: 10px;
                            border-style: solid;
                            border-width: 2px;
                            border-color: rgba(204, 204, 204, 0.2) rgba(204, 204, 204, 0.2) rgba(204, 204, 204, 0.2)
                                #ccc;
                            border-radius: 50%;
                            box-sizing: border-box;
                            animation: load 1s infinite linear;
                            position: absolute;
                            top: calc(50% - 0.5rem);
                            right: calc(21px - 0.5rem);
                        }
                    }
                    &:hover {
                        &.loading {
                            &::after {
                                border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204) #000;
                            }
                        }
                    }
                }
            }
        }
        .img-wrapper {
            display: none;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .form-wrapper {
        .notices {
            display: flex;
            align-items: center;
            justify-content: space-around;
            .notice {
                padding: 0 10px;
                &:not(:first-child) {
                    margin-top: 0;
                }
            }
        }
        .contact-form-wrapper {
            padding: 41px 40px;
            .form-title {
                left: 40px;
            }
            .contact-form {
                button {
                    &[type="submit"] {
                        max-width: max-content;
                        margin-left: auto;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .form-wrapper {
        .contact-form-wrapper {
            padding: 0;
            display: flex;
            .form-title {
                left: 60px;
            }
            .contact-form {
                flex: 1 1 100%;
                padding: 64px 60px;
            }
            .img-wrapper {
                position: relative;
                min-width: 525px;
                width: 525px;
                display: block;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
