.origins-hero {
  scroll-snap-align: start;
  position: relative;
  height: 200vh;

  .hero-content {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 15;
    text-align: center;
    overflow: hidden;

    .img-wrapper {
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.45;
        z-index: 10;
      }
    }
    .text-wrapper-block-one {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate(-50%, -50%);
      will-change: transform;
      opacity: 0;
      &.show {
        opacity: 1;
        .button {
          display: inline-block;
        }
      }
      svg {
        width: 100px;
        height: 100px;
      }

      .title {
        color: $light-beige;
        font-size: 4.75rem;
      }
    }
    .text-wrapper-block-two {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate(-50%, -50%);
      opacity: 0;
      will-change: opacity;
      transition: 150ms linear;
      &.show {
        opacity: 1;
        .button {
          display: inline-block;
        }
      }

      .description {
        color: $white;
        font-size: 2.5rem;
      }
      .button {
        display: none;
      }
    }
  }
}
