.content-wrapper {
  scroll-snap-align: start;
  position: relative;
  height: 100vh;
  .origins-menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 13;
    .menu-wrapper {
      padding: 0;
      margin: 0;
      list-style: none;
      &:not(.slick-slider) {
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
      }
      li {
        border-bottom: transparent 2px solid;
        button {
          width: 100%;
          height: 48px;
          cursor: pointer;
          padding: 0 20px;
          border: none;
          color: $pavlova;
          text-transform: uppercase;
          background-color: transparent;
          font-size: 1.166rem;
          white-space: nowrap;
        }
        &.active {
          border-bottom-color: $pavlova;
          button {
            font-weight: 600;
          }
        }
      }
    }
  }
  .origins-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    .origin-slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 150ms linear;
      z-index: 5;
      &.active {
        opacity: 1;
        z-index: 10;
        &* {
          user-select: auto;
        }
      }
      &:not(.slick-slider) {
        display: flex;
        overflow: hidden;
        align-items: center;
      }
      &.slick-slider {
        .slick-dots {
          z-index: 5;
        }
      }
      .origin-item {
        position: relative;
        width: 100%;
        min-width: 100%;
        height: 100%;
        .img-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent
              linear-gradient(180deg, #020202 80px, #02020224 100%) 0% 0%
              no-repeat padding-box;
            z-index: 5;
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          padding: 135px 48px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          z-index: 7;
          max-height: 100%;
          box-sizing: border-box;
          .origin-title {
            color: $light-beige;
            font-size: 2rem;
            margin: 0 0 25px;
          }
          .text {
            color: $white;
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 33px;
            max-height: 150px;
            overflow-y: auto;
            padding-right: 3px;
            p {
              margin: 0;
            }
            p:not(:last-child) {
              margin-bottom: 10px;
            }
            &::-webkit-scrollbar {
              width: 2px;
              height: 2px;
            }
            &::-webkit-scrollbar-button {
              width: 0px;
              height: 0px;
            }
            &::-webkit-scrollbar-thumb {
              background: $light-beige;
              border: 0px none #ffffff;
              border-radius: 50px;
            }
            &::-webkit-scrollbar-thumb:hover {
              background: $light-beige;
            }
            &::-webkit-scrollbar-thumb:active {
              background: $light-beige;
            }
            &::-webkit-scrollbar-track {
              background: #666666;
              border: 0px none #ffffff;
              border-radius: 50px;
            }
            &::-webkit-scrollbar-track:hover {
              background: #666666;
            }
            &::-webkit-scrollbar-track:active {
              background: #333333;
            }
            &::-webkit-scrollbar-corner {
              background: transparent;
            }
          }
          .conversion-wrapper {
            h3 {
              color: $light-beige;
              font-size: 1.5rem;
              margin-bottom: 33px;
            }
          }
        }
      }
    }
  }
}

@media(min-width: 375px) {
  .content-wrapper {
    .origins-wrapper {
      .origin-slider {
        .origin-item {
          .content {
            .text {
              max-height: 180px;
            }
          }
        }
      }
    }
  }
}

@media(min-width: 410px) {
  .content-wrapper {
    .origins-wrapper {
      .origin-slider {
        .origin-item {
          .content {
            .text {
              max-height: 240px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .content-wrapper {
    .origins-wrapper {
      .origin-slider {
        .origin-item {
          .content {
            right: 0;
            left: auto;
            max-width: 512px;
            .text {
              max-height: 450px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .content-wrapper {
    .origins-wrapper {
      .origin-slider {
        .origin-item {
          .content {
            max-width: 535px;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop-wide) {
  .content-wrapper {
    .origins-wrapper {
      .origin-slider {
        .origin-item {
          .content {
            right: calc((100% - 1400px) / 2);
            padding-right: 0;
          }
        }
      }
    }
  }
}
