.cart-resume {
    .woocommerce-cart-form {
        table {
            display: block;
            width: 100%;
            max-width: 100%;
            td {
                padding: 0;
            }
            thead {
                width: 100%;
                max-width: 100%;
                display: block;
                tr {
                    display: flex;
                    justify-content: space-between;
                    th {
                        border-bottom: 1px solid $nobel-grey;
                        font-size: 14px;
                        font-weight: 400;
                        text-transform: uppercase;
                        text-align: left;
                        padding: 13px 0;
                        &.product-name {
                            flex: 1 0 auto;
                        }
                    }
                }
            }
            tbody {
                width: 100%;
                max-width: 100%;
                display: block;
                tr {
                    display: flex;
                    max-width: 100%;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid $nobel-grey;
                    &:last-child {
                        border-bottom: none;
                        margin-bottom: 14px;
                    }
                    td {
                        padding: 36px 0;
                        &.product-details {
                            display: flex;
                            flex-wrap: wrap;
                            box-sizing: border-box;
                            padding-right: 15px;
                            .product-thumbnail {
                                position: relative;
                                display: block;
                                width: 91px;
                                height: 131px;
                                margin-right: 30px;
                                img {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }
                            .product-resume {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: flex-start;
                                .product-name,
                                > a {
                                    font-size: 16px;
                                    text-decoration: none;
                                    color: $medium-black;
                                    margin-bottom: 13px;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                                .variation {
                                    display: flex;
                                    margin-bottom: 10px;
                                    p {
                                        &[class^="variation-"] {
                                            margin: 0 3px 0 0;
                                        }
                                        &:not([class]) {
                                            margin: 0;
                                        }
                                    }
                                }
                                .cpb-item-qty {
                                    margin-top: 13px;
                                }
                                .woocommerce-Price-amount {
                                    font-family: $saa;
                                    font-size: 14px;
                                    color: $gray-34;
                                    margin-bottom: 18px;
                                }
                                .product-counter {
                                    margin-bottom: 19px;
                                    input {
                                        width: 40px;
                                        min-width: 40px;
                                    }
                                }
                                .remove {
                                    font-family: $saa;
                                    font-size: 14px;
                                    color: $medium-black;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    margin-bottom: 0;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        &.product-subtotal {
                            font-family: $saa;
                            color: $medium-black;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .cart-resume {
        max-width: calc(50% - 12px);
        width: calc(50% - 12px);
    }
}

@media (min-width: $breakpoint-desktop) {
    .cart-resume {
        max-width: calc(65% - 50px);
        width: calc(65% - 50px);
    }
}
