.cart-details {
    margin-bottom: 54px;
    background-color: $cream;
    padding: 45px 19px;
    box-sizing: border-box;
    color: $medium-black;
    height: max-content;
    .cart-collaterals {
        * { 
            background-color: $cream;
        }
        .cart_totals {
            h2 {
                font-size: 16px;
                text-transform: uppercase;
                margin: 0 0 10px;
            }
            .shop_table {
                width: 100%;
                margin-bottom: 34px;
                td {
                    padding: 0;
                }
                tbody {
                    tr {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 24px 0;
                        border-bottom: 1px solid $nobel-grey;
                        th {
                            font-size: 16px;
                            font-weight: 400;
                            padding: 0;
                        }
                        td {
                            text-align: right;
                            font-size: 14px;
                            font-weight: 700;
                        }
                        &.shipping {
                            flex-wrap: wrap;
                            th {
                                flex: 1 0 100%;
                                text-align: left;
                            }
                            td {
                                flex: 1 0 100%;
                                padding-top: 23px;
                                .shipping-calculator-button {
                                    display: block;
                                    font-family: $saa;
                                    text-transform: uppercase;
                                    color: $medium-black;
                                    text-decoration: none;
                                    text-align: right;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                                .woocommerce-shipping-methods {
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;
                                    text-align: left;
                                    li {
                                        display: flex;
                                        align-items: center;
                                        margin-bottom: 19px;
                                        label {
                                            font-weight: 400;
                                            font-size: 16px;
                                            cursor: pointer;
                                            &:hover {
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }
                                .woocommerce-shipping-destination {
                                    text-align: left;
                                }
                                .woocommerce-shipping-calculator {
                                    .shipping-calculator-form {
                                        will-change: height;
                                        p {
                                            margin: 0 0 24px 0;
                                            &:first-child {
                                                margin-top: 24px;
                                            }
                                        }
                                        input {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        &.order-total {
                            th {
                                font-weight: 700;
                            }
                            td {
                                font-size: 20px;
                            }
                        }
                        &.cart-discount-th {
                            flex-wrap: wrap;
                            th {
                                display: flex;
                                flex: 1 0 100%;
                                text-align: left;
                                font-family: $saa;
                                text-transform: uppercase;
                                cursor: pointer;
                                user-select: none;
                                &::after {
                                    content: "";
                                    display: inline-block;
                                    width: 10px;
                                    height: 10px;
                                    border-style: solid;
                                    border-color: $medium-black;
                                    border-width: 0 2px 2px 0;
                                    transform: translate(-25%, 25%) rotate(45deg);
                                    margin-left: auto;
                                    box-sizing: border-box;
                                    transition: transform 150ms linear;
                                }
                            }
                            td {
                                flex: 1 0 100%;
                                max-height: 0px;
                                overflow: hidden;
                                transition: max-height 300ms linear;
                                will-change: max-height;
                                form {
                                    padding-top: 23px;
                                    .coupon {
                                        display: flex;
                                        input {
                                            width: 100%;
                                            flex: 1 1 auto;
                                        }
                                        button {
                                            width: max-content;
                                        }
                                    }
                                }
                                span.coupons-list {
                                    display: flex;
                                    margin-top: 26px;
                                    font-family: $saa;
                                    a {
                                        margin-left: auto;
                                        text-decoration: none;
                                        color: $medium-black;
                                        font-family: $roboto;
                                        text-transform: unset;
                                        font-weight: 400;
                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                            &.expanded {
                                th {
                                    &::after {
                                        transform: translate(-25%, 60%) rotate(-135deg);
                                    }
                                }
                                td {
                                    max-height: 200px;
                                }
                            }
                        }
                    }
                }
            }
            .wc-proceed-to-checkout {
                .checkout-button {
                    width: 100%;
                    text-align: center;
                }
            }
            .payment-icons {
                margin-top: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 38px;
                    height: 23px;
                    &:not(:last-child) {
                        margin-right: 7px;
                    }
                }
            }
        }
    }
}

@media(min-width: $breakpoint-tablet) {
    .cart-details {
        max-width: calc(50% - 12px);
        width: calc(50% - 12px);
        padding: 45px 31px;
    }
}

@media(min-width: $breakpoint-desktop) {
    .cart-details {
        max-width: calc(35% - 50px);
        width: calc(35% - 50px);
        padding: 45px 35px;
    }
}