.cart-content {
    .woocommerce-breadcrumb {
        text-align: center;
    }
    h1.title {
        text-align: center;
        color: $medium-black;
        margin: 0 0 30px;
        font-size: 2.5rem;
    }
}

@media (min-width: $breakpoint-tablet) {
    .cart-content {
        .cart-wrapper {
            display: flex;
            justify-content: space-between;
        }
    }
}
