.empty-cart {
    padding-bottom: 60px;
    text-align: center;
    .notice {
        font-family: $lydian;
        font-size: 1.5rem;
        color: $medium-black;
        margin-bottom: 21px;
    }
    .text {
        font-size: 1.125rem;
        color: $medium-black;
        margin-bottom: 44px;
        font-weight: 300;
    }
}