.product-suggestions {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    box-sizing: border-box;
    background-color: $cream;
    .content-wrapper {
        margin-bottom: 20px;
        .title {
            margin: 0 0 23px;
            color: $medium-black;
        }
    }
    .products-wrapper {
        max-width: 400px;
        margin: 0 auto;
        padding-bottom: 40px;
        &:not(.slick-slider) {
            display: flex;
            overflow: hidden;
            .product-item {
                min-width: 100%;
            }
        }
        .product-item {
            padding: 20px;
            box-sizing: border-box;
            .img-wrapper {
                position: relative;
                height: 230px;
                width: 100%;
                margin-bottom: 24px;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .product-name {
                display: inline-block;
                font-size: 1.33rem;
                color: $medium-black;
                margin: 0 0 24px;
                height: 2.3em;
                text-decoration: none;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                transition: text-decoration 150ms linear;
                &:hover {
                    text-decoration: underline;
                }
            }
            .product-price {
                font-size: 28px;
                font-weight: 700;
                margin: 0 0 24px;
                color: $medium-black;
                font-family: $saa;
            }
            .add-to-cart-wrapper {
                max-width: 200px;
                margin: 0 auto;
                .product-counter {
                    width: 100%;
                    margin-bottom: 16px;
                }
                .add-to-cart {
                    width: 100%;
                }
            }
        }
        .slick-arrow {
            transition: 150ms linear;
            &.slick-prev {
                left: -20px;
            }
            &.slick-next {
                right: -20px;
            }
            &.slick-disabled {
                opacity: 0;
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .product-suggestions {
        .products-wrapper {
            max-width: none;
            margin: 0;
            &:not(.slick-slider) {
                .product-item {
                    min-width: calc(100% / 3);
                }
            }
        }
    }
}


@media (min-width: $breakpoint-desktop) {
    .product-suggestions {
        .products-wrapper {
            max-width: none;
            margin: 0;
            &:not(.slick-slider) {
                .product-item {
                    min-width: calc(100% / 4);
                }
            }
        }
    }
}

