.stores-wrapper {
    .title {
        text-align: center;
        margin: 0 0 14px;
    }
    .woocommerce-breadcrumb {
        text-align: center;
        margin-bottom: 44px;
    }
    .content-wrapper {
        .stores-list-wrapper {
            .stores-navigation {
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    li {
                        padding: 10px 20px;
                        cursor: pointer;
                        text-transform: uppercase;
                        font-size: 1.333rem;
                        &.active {
                            font-weight: 700;
                            border-bottom: 2px solid $dim-gray;
                        }
                    }
                }
            }
            .stores-list {
                display: none;
                overflow-y: auto;
                max-height: 360px;
                padding: 32px 0;
                box-sizing: border-box;
                &.active {
                    display: block;
                }
                .state-wrapper {
                    position: relative;
                    &:not(:last-child) {
                        margin-bottom: 25px;
                    }
                    .state-title-wrapper {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50px;
                        height: 100%;
                        .state-title {
                            position: sticky;
                            top: 0;
                            left: 0;
                            writing-mode: vertical-rl;
                            transform: rotate(180deg);
                            user-select: none;
                            margin: 0;
                            font-size: 2rem;
                            color: $medium-black;
                        }
                    }
                    .city-wrapper {
                        margin-bottom: 32px;
                        padding: 0 10px 0 50px;
                        .city-title {
                            margin: 0;
                            font-size: 1.75rem;
                            font-weight: 700;
                        }
                        .store {
                            padding: 12px 0;
                            box-sizing: border-box;
                            .name {
                                margin: 0 0 14px;
                                font-size: 1.333rem;
                            }
                            .address {
                                margin: 0;
                                font-size: 1.333rem;
                                line-height: 1.5;
                            }
                        }
                    }
                }
            }
        }
        .map-wrapper {
            position: relative;
            height: 440px;
            .map {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .stores-wrapper {
        .content-wrapper {
            display: flex;
            .stores-list-wrapper {
                flex: 1 1 auto;
                .stores-list {
                    min-height: 438px;
                    height: 438px;
                    padding: 32px 0 0;
                    .state-wrapper {
                        .city-wrapper {
                            .city-title {
                                margin-bottom: 24px;
                            }
                            .store {
                                padding: 0;
                                margin-bottom: 24px;
                            }
                        }
                    }
                }
            }
            .map-wrapper {
                height: auto;
                width: 420px;
                min-width: 420px;
            }
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .stores-wrapper {
        .content-wrapper {
            .stores-list-wrapper {
                .stores-list {
                    min-height: 660px;
                    height: 660px;
                }
            }
            .map-wrapper {
                height: auto;
                width: 750px;
                min-width: 500px;
            }
        }
    }
}
