.woocommerce-breadcrumb {
    font-family: $saa;
    font-size: 12px;
    color: $grey;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;

    a,
    span {
        font-weight: 700;
        text-decoration: none;
        color: $medium-black;
    }
}
