.button {
    display: inline-block;
    font-size: 16px;
    padding: 13px 25px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 150ms linear;
    cursor: pointer;
    font-family: $saa;
    min-height: 48px;

    &.dark {
        border-color: $medium-black;
        &.default {
            color: $white;
            background-color: $medium-black;
        }
    
        &.outlined {
            color: $medium-black;
            background-color: transparent;
        }

        &.text {
            color: $medium-black;
            text-decoration: underline;
        }
    }
    &.light {
        &.default {
            background-color: $medium-beige;
            color: $medium-black;
            border-color: $medium-beige;
        }
    
        &.outlined {
            background-color: transparent;
            color: $white;
            border-color: $white;
        }
        &.text {
            color: $white;
            text-decoration: underline;
        }
    }
    &:not(:disabled):hover {
        &.dark {
            border-color: $medium-black;
            &.default {
                color: $medium-black;
                background-color: transparent;
            }
        
            &.outlined {
                color: $white;
                background-color: $medium-black;
            }
        }
        &.light {
            &.default {
                background-color: $light-beige;
                color: $medium-black;
                border-color: $light-beige;
            }
        
            &.outlined {
                background-color: $white;
                color: $medium-black;
                border-color: $white;
            }
        }
    }
    &:disabled {
        opacity: .5;
    }
}

@media(min-width: $breakpoint-desktop) {
    .button {
        padding: 14px 30px;
    }
}

@media(min-width: $breakpoint-desktop-wide) {
    .button {
        padding: 14px 25px;
    }
}