.product-counter {
	display: flex;
	height: 48px;
	width: max-content;
	font-size: 24px;
	font-family: $saa;
	button {
		position: relative;
		cursor: pointer;
		color: transparent;
		font-size: 0;
		background-color: transparent;
		min-width: 48px;
		box-sizing: border-box;
		border-color: $medium-black;
		border-style: solid;
		border-radius: 0;
		&::after {
			content: "";
			position: absolute;
			top: calc(50% - 1px);
			left: calc(50% - 7px);
			display: block;
			width: 14px;
			height: 2px;
			background-color: $medium-black;
		}

		&.sub {
			border-width: 2px 0 2px 2px;
			&.disabled {
				cursor: default;
				&::after {
					background-color: $suva-grey;
				}
			}
		}
		&.add {
			border-width: 2px 2px 2px 0;
			&::before {
				content: "";
				position: absolute;
				top: calc(50% - 7px);
				left: calc(50% - 1px);
				display: block;
				width: 2px;
				height: 14px;
				background-color: $medium-black;
			}
			&.disabled {
				cursor: default;
				&::before,
				&::after {
					background-color: $suva-grey;
				}
			}
		}
	}
	input {
		line-height: 0;
		text-align: center;
		font-weight: 700;
		border-color: $medium-black;
		border-style: solid;
		border-width: 2px 0;
		border-radius: 0;
		min-width: 50px;
		background-color: transparent;
		padding: 0;
		-moz-appearance: textfield;
		outline: none;
		box-shadow: none;
		flex-grow: 1;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
.add-to-cart {
	position: relative;
	white-space: nowrap;
	&:disabled {
		cursor: default;
	}
	&.loading {
		&::after {
			content: "";
			display: inline-block;
			color: #ffffff;
			height: 1rem;
			width: 1rem;
			margin-left: 10px;
			border-style: solid;
			border-width: 2px;
			border-color: rgba(204, 204, 204, 0.2) rgba(204, 204, 204, 0.2) rgba(204, 204, 204, 0.2) #ccc;
			border-radius: 50%;
			box-sizing: border-box;
			animation: load 1s infinite linear;
			position: absolute;
			top: calc(50% - 0.5rem);
			right: calc(21px - 0.5rem);
		}
	}
	&:hover {
		&.loading {
			&::after {
				border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204) #000;
			}
		}
	}
}

@keyframes load {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
