footer {
	padding-top: 30px;
	padding-bottom: 15px;
	background-color: $black;
	text-align: center;
	color: $medium-beige;
	.footer-start-wrapper {
		svg {
			height: 37px;
			width: 170px;
			fill: $medium-beige;
			margin-bottom: 40px;
		}
		.newsletter-wrapper {
			margin-bottom: 24px;
			.title {
				font-size: 1.25rem;
				font-weight: 700;
				margin: 0 0 17px;
			}
			.description {
				font-size: 16px;
				line-height: 1.5;
				margin: 0 0 27px;
			}
		}
		.newsletter-form {
			margin-bottom: 22px;
			input {
				display: block;
				&[type="email"] {
					font-size: 16px;
					width: 100%;
					box-sizing: border-box;
					margin-bottom: 22px;
					background-color: transparent;
					border: none;
					border-bottom: 2px solid $medium-beige;
					border-radius: 0;
					padding: 15px 0;
					color: $medium-beige;
					outline: none;
					&::placeholder {
						color: $light-beige;
					}
				}
				&[type="submit"] {
					margin: 0 auto;
					padding: 14px 45px;
				}
			}
		}
		.final-text {
			font-size: 1.16rem;
		}
		.social-networks-wrapper {
			margin-bottom: 30px;
			a {
				display: inline-block;
				font-size: 1.16rem;
				font-weight: 700;
				text-transform: uppercase;
				text-decoration: none;
				color: $medium-beige;
				padding: 10px 20px;
			}
		}
		.footer-menu {
			margin: 0;
			border-bottom: 2px solid $medium-beige;
			ul {
				display: block;
				padding: 0;
				list-style: none;
				li {
					display: block;
					font-size: 1.25rem;
					a,
					p {
						display: inline-block;
						color: $medium-beige;
						text-decoration: none;
						font-weight: 700;
						padding: 5px 10px;
					}
					.sub-menu {
						margin-bottom: 15px;
						li {
							font-size: 16px;
							a,
							p {
								font-weight: 400;
							}
						}
					}
				}
			}
		}
	}
	.footer-end-wrapper {
		.legal-menu {
			margin-bottom: 10px;
			ul {
				padding: 0;
				margin: 0;
			}
			> ul {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0;
				list-style: none;
				li {
					position: relative;
					flex-grow: 1;
					a,
					p {
						display: inline-block;
						text-decoration: none;
						color: $medium-beige;
						padding: 20px 0;
						width: 100%;
						box-sizing: border-box;
					}
					&:not(:last-child) {
						&::after {
							content: "";
							position: absolute;
							top: calc(50% - 6px);
							right: -1px;
							display: inline-block;
							height: 12px;
							width: 2px;
							background-color: $medium-beige;
						}
					}
				}
			}
		}
		.copyright {
			p {
				margin: 0;
				text-transform: uppercase;
			}
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	footer {
		padding-bottom: 0;
		.footer-start-wrapper {
			max-width: 1300px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			svg {
				flex: 40%;
			}
			.social-wrapper {
				flex: 100%;
				.newsletter-wrapper {
					max-width: 800px;
					margin: 0 auto 24px;
					text-align: left;
					.newsletter-form {
						input {
							&[type="submit"] {
								margin: 0;
							}
						}
					}
				}
			}
			.footer-menu {
				flex: 100%;
				> ul {
					display: flex;
					flex-wrap: wrap;
					max-width: 800px;
					margin: 0 auto;
					text-align: left;
					li {
						flex: 50%;
						a,
						p {
							padding: 5px 0;
						}
					}
				}
			}
		}
		.footer-end-wrapper {
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-width: 1300px;
			.legal-menu {
				margin-bottom: 0;
				order: 1;
				min-width: 400px;
			}
		}
	}
}

@media (min-width: $breakpoint-desktop) {
	footer {
		.footer-start-wrapper {
			border-bottom: 2px solid $medium-beige;
			flex-wrap: nowrap;
			svg {
				min-width: 200px;
				height: 40px;
				order: 1;
				flex: auto;
				margin: 0 50px 0 0;
			}
			.social-wrapper {
				flex: 30%;
				order: 3;
				.newsletter-wrapper {
					max-width: none;
				}
				.social-networks-wrapper {
					text-align: left;
					a {
						padding: 10px 0;
						&:not(:last-child) {
							margin-right: 30px;
						}
					}
				}
			}
			.footer-menu {
				order: 2;
				flex: auto;
				margin-right: 50px;
				border-bottom: 0;
				> ul {
					max-width: none;
					li {
						width: 50%;
						a,
						p {
							padding: 0 0 5px 0;
							white-space: nowrap;
						}
						ul {
							li {
								a,
								p {
									padding: 5px 0;
								}
							}
						}
					}
				}
			}
		}
		.footer-end-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.legal-menu {
				order: 1;
				min-width: 400px;
			}
		}
	}
}
