body > header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  .header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 50;
    transition: 150ms linear;
    .menu-button {
      height: 48px;
      width: 48px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;

      .menu-part {
        display: block;
        width: 24px;
        height: 3px;
        transition: 150ms linear;

        &:first-child {
          transform: translatey(-3px);
        }

        &:last-child {
          transform: translatey(3px);
        }
      }
    }
    .logo {
      margin: 0 auto;
      font-size: 0;

      svg {
        height: 31px;
      }
    }
    .right-icons-wrapper {
      display: flex;
      align-items: center;
      a {
        padding: 15px 10px;
        display: none;
        margin: 0;
        font-size: 1.125rem;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &.search {
          display: none;
        }
        svg {
          height: 24px;
          text {
            font-weight: 700;
            line-height: 1;
          }
        }
      }
    }
  }

  .menu-wrapper {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 45;
    transform: translateY(calc(-100% - 80px));
    transition: transform 150ms linear;

    .search-wrapper {
      max-width: 800px;
      position: relative;
      margin: 0 auto 20px;
      input {
        width: 100%;
        padding: 16px 65px 16px 16px;
        font-size: 1.16rem;
        box-sizing: border-box;
        border: none;
        border-radius: 0;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        width: 65px;
        height: 100%;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
    .header-menu {
      max-width: 800px;
      margin: 0 auto;
      overflow-y: auto;
      height: calc(100% - 70px);
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      ul {
        list-style: none;
        padding: 0;
        .menu-item {
          p,
          a {
            display: inline-block;
            padding: 13px 21px 13px 0;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 700;
            text-decoration: none;
            margin: 0;
            cursor: pointer;
            user-select: none;
          }
          &.has-children {
            > p {
              position: relative;
              &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 3px;
                display: block;
                height: 9px;
                width: 9px;
                border-style: solid;
                border-width: 0 2px 2px 0;
                box-sizing: border-box;
                transform: translatey(-75%) rotate(45deg);
                transition: transform 150ms linear;
              }
            }
            .sub-menu-wrapper {
              max-height: 0px;
              overflow: hidden;
              transition: max-height 150ms linear;
              .sub-menu-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                h2 {
                  font-size: 1.5rem;
                  line-height: 1;
                  margin: 20px 0;
                }
                a {
                  position: relative;
                  font-weight: 400;
                  padding: 0 15px 0 0;
                  white-space: nowrap;
                  font-size: 1.166rem;
                  &::after {
                    content: "";
                    position: absolute;
                    top: calc(50% - 3px);
                    right: 0;
                    display: inline-block;
                    height: 6px;
                    width: 6px;
                    border-style: solid;
                    border-color: $medium-beige;
                    border-width: 2px 2px 0 0;
                    transform: rotate(45deg) translateX(-25%);
                  }
                }
              }
              .sub-menu {
                display: flex;
                flex-wrap: wrap;
                overflow-x: hidden;
                .sub-menu-item {
                  position: relative;
                  width: calc((100% - 16px) / 2);
                  text-align: center;
                  margin-bottom: 15px;
                  &:nth-child(odd) {
                    margin-right: 16px;
                  }
                  .img-wrapper {
                    position: relative;
                    height: 150px;
                    margin-bottom: 10px;
                    img {
                      position: absolute;
                      top: 0;
                      left: 0;
                      height: 100%;
                      width: 100%;
                      object-fit: cover;
                    }
                  }
                  a {
                    padding: 0;
                    text-transform: capitalize;
                    font-weight: 400;
                    &::after {
                      content: "";
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }
            }
            &.is-active {
              > p {
                &::after {
                  transform: translatey(-25%) rotate(-135deg);
                }
              }

              .sub-menu-wrapper {
                max-height: 999px;
              }
            }
          }
        }
      }
    }
  }

  &.is-active {
    .header {
      .menu-button {
        .menu-part {
          &:first-child {
            transform: translatey(3px) rotate(-45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:last-child {
            transform: translatey(-3px) rotate(45deg);
          }
        }
      }
    }

    .menu-wrapper {
      transform: translateY(0);
    }
  }
  .slick-list {
    margin-right: -16px;
    .slick-slide {
      margin-right: 16px;
      .menu-item {
        margin-right: 0;
      }
    }
  }

  &.dark {
    .header {
      &.is-scrolled,
      &.is-menu-open {
        background-color: $black;
      }
      .menu-button {
        .menu-part {
          background-color: $medium-beige;
        }
      }
      .logo {
        svg {
          fill: $medium-beige;
        }
      }
      .right-icons-wrapper {
        a {
          color: $medium-beige;
        }
        button {
          svg {
            fill: $medium-beige;
            text {
              fill: $black;
            }
          }
          &.cart {
            position: relative;
            &.animate {
              animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
            }
            .cart-count {
              position: absolute;
              top: calc(50% + 1px);
              left: 50%;
              transform: translate(-50%, -41%);
              font-size: 16px;
              font-weight: 700;
              line-height: 1;
              color: $base-dark-color;
              &.smaller {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .menu-wrapper {
      background-color: $black;
      .search-wrapper {
        input {
          background-color: $cream;
          color: $black;
        }
      }
      .header-menu {
        ul {
          .menu-item {
            p,
            a {
              color: $light-beige;
            }
            &.has-children {
              > p {
                &::after {
                  border-color: $light-beige;
                }
              }
              .sub-menu-wrapper {
                .sub-menu-header {
                  border-bottom: 1px solid $dark-beige;
                  h2 {
                    color: $medium-beige;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.light {
    .header {
      &.is-scrolled,
      &.is-menu-open {
        background-color: $cream;
      }
      .menu-button {
        .menu-part {
          background-color: $medium-black;
        }
      }
      .logo {
        svg {
          fill: $medium-black;
        }
      }
      .right-icons-wrapper {
        a {
          color: $medium-black;
        }
        button {
          svg {
            fill: $medium-black;
            text {
              fill: $cream;
            }
          }
        }
      }
    }
    .menu-wrapper {
      background-color: $cream;
      .search-wrapper {
        input {
          background-color: $dark-cream;
          color: $medium-black;
        }
        button {
          svg {
            fill: $medium-black;
          }
        }
      }
      .header-menu {
        ul {
          .menu-item {
            p,
            a {
              color: $medium-black;
            }
            &.has-children {
              > p {
                &::after {
                  border-color: $medium-black;
                }
              }
              .sub-menu-wrapper {
                .sub-menu-header {
                  border-bottom: 1px solid $dark-beige;
                  h2 {
                    color: $medium-black;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  body > header {
    .menu-wrapper {
      .header-menu {
        ul {
          .menu-item {
            &.has-children {
              .sub-menu-wrapper {
                .sub-menu-header {
                  a {
                    &::after {
                      height: 8px;
                      width: 8px;
                      top: calc(50% - 4px);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-desktop - 1) {
  body > header {
    .menu-wrapper {
      .header-menu {
        display: block;
        .categories-wrapper {
          display: none;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  body > header {
    .header {
      justify-content: flex-start;
      height: 85px;
      .logo {
        margin: 0 20px 0 0;
      }

      .right-icons-wrapper {
        a {
          display: inline-block;
        }
        button {
          &.search {
            display: flex;
          }
        }
      }
      .header-menu {
        flex-grow: 1;
        ul {
          display: flex;
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            a,
            p {
              display: inline-block;
              margin: 0;
              padding: calc((85px - 1.15em) / 2) 20px;
              font-size: 1.125rem;
              text-decoration: none;
              cursor: pointer;
              user-select: none;
            }
            &.has-children {
              p {
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  right: 3px;
                  display: block;
                  height: 9px;
                  width: 9px;
                  border-style: solid;
                  border-width: 0 2px 2px 0;
                  box-sizing: border-box;
                  transform: translatey(-50%) rotate(45deg);
                  transition: transform 150ms linear;
                }
              }
              .sub-menu-wrapper {
                position: absolute;
                top: 85px;
                left: 0;
                width: 100%;
                padding: 30px calc((100% - 800px) / 2);
                box-sizing: border-box;
                display: initial;
                transform: translateY(calc(-100% - 85px));
                transition: transform 150ms linear;
                z-index: -1;
                .sub-menu-header {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-bottom: 20px;
                  h2 {
                    line-height: 1.5;
                    font-size: 1.75rem;
                    margin: 20px 0;
                  }
                  a {
                    font-weight: 400;
                    padding: 0;
                    text-transform: uppercase;
                    position: relative;
                    padding-right: 20px;
                    &::after {
                      content: "";
                      position: absolute;
                      top: calc(50% - 4.5px);
                      right: 0;
                      display: inline-block;
                      height: 9px;
                      width: 9px;
                      border-style: solid;
                      border-color: $medium-beige;
                      border-width: 2px 2px 0 0;
                      transform: rotate(45deg) translateX(-25%);
                    }
                  }
                }
                .sub-menu {
                  display: initial;
                  &:not(.slick-slider) {
                    display: flex;
                    flex-wrap: wrap;
                    overflow-x: hidden;
                  }
                  .sub-menu-item {
                    position: relative;
                    width: calc((100% - 16px) / 2);
                    text-align: center;
                    margin-bottom: 15px;
                    &:nth-child(odd) {
                      margin-right: 16px;
                    }
                    .img-wrapper {
                      position: relative;
                      height: 180px;
                      margin-bottom: 10px;
                      img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                      }
                    }
                    a {
                      padding: 0;
                      text-transform: capitalize;
                      font-weight: 400;
                      &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                }
              }
              &.is-active {
                p {
                  &::after {
                    transform: translatey(0) rotate(-135deg);
                  }
                }
                .sub-menu-wrapper {
                  transform: translateY(0);
                }
              }
            }
          }
        }
      }
    }

    .menu-wrapper {
      height: auto;
      padding: 30px calc((100% - 800px) / 2);
      .categories-wrapper {
        &:not(.slick-slider) {
          display: flex;
          flex-wrap: wrap;
        }
        .category-item {
          position: relative;
          min-width: calc((100% - 16px) / 2);
          width: calc((100% - 16px) / 2);
          text-align: center;
          margin-bottom: 15px;
          &:nth-child(odd) {
            margin-right: 16px;
          }
          .img-wrapper {
            position: relative;
            height: 150px;
            margin-bottom: 10px;
            img {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
          a {
            text-decoration: none;
            text-transform: capitalize;
            font-weight: 400;
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    &.dark {
      .header {
        .header-menu {
          height: 100%;
          ul {
            height: 100%;
            background-color: transparent;
            li {
              a,
              p {
                color: $light-beige;
              }
              &.has-children {
                p {
                  border-color: $light-beige;
                }
                .sub-menu-wrapper {
                  background-color: $black;
                  .sub-menu-header {
                    border-bottom: 1px solid $dark-beige;
                    h2 {
                      color: $medium-beige;
                    }
                  }
                }
              }
            }
          }
        }
        &.is-scrolled,
        &.is-menu-open {
          ul {
            background-color: $black;
          }
        }
      }
      .menu-wrapper {
        .categories-wrapper {
          .category-item {
            a {
              color: $medium-beige;
            }
          }
        }
      }
    }
    &.light {
      .header {
        .header-menu {
          ul {
            background-color: transparent;
            li {
              a,
              p {
                color: $medium-black;
              }
              &.has-children {
                p {
                  border-color: $medium-black;
                }
                .sub-menu-wrapper {
                  background-color: $cream;
                  .sub-menu-header {
                    border-bottom: 1px solid $dark-beige;
                    h2 {
                      color: $medium-black;
                    }
                  }
                }
              }
            }
          }
        }
        &.is-scrolled,
        &.is-menu-open {
          ul {
            background-color: $cream;
          }
        }
      }
      .menu-wrapper {
        .categories-wrapper {
          .category-item {
            a {
              color: $medium-black;
            }
          }
        }
      }
    }
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
