.sidecart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  z-index: 50;
  transform: translateX(100%);
  transition: 150ms linear;
  background-color: #0000008c;
  &.active {
    box-shadow: -2px 2px 5px #00000024;
    transform: translateX(0);
  }
  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 18px 20px 35px;
    box-sizing: border-box;
    min-height: 100%;
    height: 100%;
    margin-left: auto;
    .loading {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      min-width: 100%;
      background-color: #00000040;
      width: 100%;
      z-index: 5;
      &::after {
        content: "";
        animation: load 1s linear infinite;
        position: absolute;
        top: calc(50% - 24px);
        right: calc(50% - 24px);
        display: inline-block;
        height: 48px;
        width: 48px;
        box-sizing: border-box;
        border: 2px solid hsla(0, 0%, 0%, 0.2);
        border-left-color: #fff;
        border-radius: 50%;
        color: #fff;
      }
    }
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-family: $saa;
        font-size: 1.333rem;
        text-transform: uppercase;
        margin: 0;
        color: $medium-black;
      }
      button {
        height: 48px;
        width: 48px;
        border: none;
        background-color: transparent;
        position: relative;
        cursor: pointer;
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: calc(50% - 1px);
          left: calc(50% - 11px);
          height: 2px;
          width: 22px;
          background-color: $medium-black;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
    table {
      display: block;
      width: 100%;
      max-width: 100%;
      border-bottom: 1px solid $nobel-grey;
      overflow-y: auto;
      flex: 1;
      scrollbar-width: none;
      -ms-overflow-style: none;
      overscroll-behavior-y: contain;
      &::-webkit-scrollbar {
        width: 0;
      }
      td {
        padding: 0;
      }
      tbody {
        width: 100%;
        max-width: 100%;
        display: block;
        tr {
          display: flex;
          max-width: 100%;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid $nobel-grey;
          &:last-child {
            border-bottom: none;
            margin-bottom: 14px;
          }
          td {
            padding: 36px 0;
            &.product-details {
              display: flex;
              flex-wrap: wrap;
              flex: 1;
              box-sizing: border-box;
              padding-right: 15px;
              .product-thumbnail {
                position: relative;
                display: block;
                width: 91px;
                height: 131px;
                margin-right: 10px;
                img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
              .product-resume {
                display: flex;
                flex-direction: column;
                flex: 1;
                justify-content: center;
                align-items: flex-start;
                .product-name,
                > a {
                  font-size: 16px;
                  text-decoration: none;
                  color: $medium-black;
                  margin-bottom: 13px;
                  &:hover {
                    text-decoration: underline;
                  }
                }
                .variation {
                  display: flex;
                  margin-bottom: 10px;
                  p {
                    &[class^="variation-"] {
                      margin: 0 3px 0 0;
                    }
                    &:not([class]) {
                      margin: 0;
                    }
                  }
                }
                .cpb-item-qty {
                  margin-top: 13px;
                }
                .woocommerce-Price-amount {
                  font-family: $saa;
                  font-size: 14px;
                  color: $gray-34;
                  margin-bottom: 18px;
                }
                .product-counter {
                  margin-bottom: 19px;
                  input {
                    width: 40px;
                    min-width: 40px;
                  }
                }
                .remove {
                  font-family: $saa;
                  font-size: 14px;
                  color: $medium-black;
                  text-decoration: none;
                  text-transform: uppercase;
                  cursor: pointer;
                  border: none;
                  background-color: transparent;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
            &.product-subtotal {
              font-family: $saa;
              color: $medium-black;
              font-size: 15px;
            }
          }
        }
      }
    }
    .empty-cart {
      text-align: center;
      .notice {
        font-family: $lydian;
        font-size: 1.5rem;
        color: $medium-black;
      }
      .text {
        font-size: 1.125rem;
        color: $medium-black;
        margin-bottom: 44px;
        font-weight: 300;
      }
    }
    .infos {
      .subtotal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 25px 0 19px;
        p {
          margin: 0;
          font-family: $saa;
          font-size: 1.333rem;
          color: $medium-black;
        }
      }
      p.info {
        font-size: 1.166rem;
        color: $medium-black;
        margin-bottom: 32px;
      }
      .button {
        display: block;
        width: 100%;
        text-align: center;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        &.dark {
          &.brown {
            background-color: $light-brown;
            border-color: $light-brown;
            &:hover {
              background-color: $white;
              color: $light-brown;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .sidecart {
    .wrapper {
      max-width: 494px;
      padding: 18px 40px 35px;
    }
  }
}
