.conversion-section {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 380px;
    .img-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::after {
            content: "";
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,.4);
            position: absolute;
        }
    }
    .content-wrapper {
        position: absolute;
        top: 50%;
        left: 0;
        text-align: center;
        width: 100%;
        transform: translateY(-50%);
        color: $white;
        .title {
            margin-bottom: 26px;
        }
        .subtitle {
            margin-bottom: 28px;
            font-family: $lydian;
            font-size: 1.25rem;
            text-transform: uppercase;
        }
        .description {
            margin-bottom: 37px;
            font-size: 1.25rem;
            line-height: 1.5;
        }
    }
}