.featured-box {
  height: 500px !important;
  .wrapper {
      position: relative;
      height: 100%;
      min-height: 100%;
      width: 100%;
    .img-wrapper {
      height: 100%;
      min-height: 100%;
      width: 100%;
      position: relative;
      margin-bottom: 0;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &::after {
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
      }
    }

    .content-wrapper {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
      color: #fff;
      max-height: 100%;
      overflow: hidden;
      padding: 10px;
      box-sizing: border-box;
    }
  }
}

@media(min-width: $breakpoint-tablet) {
  .featured-box {
    height: 450px !important;
  }
}