.product-section {
    padding-top: 40px;
    padding-bottom: 110px;
    background-color: $white;
    scroll-margin-top: 132px;

    &:nth-child(even) {
        background-color: $cream;
    }

    .section-title {
        text-align: center;
    }

    .description {
        text-align: center;
        font-size: 1.25rem;
    }

    .products-wrapper {
        margin: 0 auto;
        &:not(.slick-slider) {
            display: flex;
            overflow: hidden;
            .product-item {
                min-width: 100%;
            }
        }
    }
    .slick-dots {
        bottom: -55px;
    }
    .slick-arrow {
        top: 135px;
        &.slick-prev {
            left: -20px;
        }
        &.slick-next {
            right: -20px;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .shop-grid {
        .product-section {
            padding-bottom: 40px;
            .products-wrapper {
                margin: 0;
                overflow: auto;
                flex-wrap: wrap;
                max-width: 100%;
                .product-item {
                    width: calc(50% - 20px);
                    min-width: calc(50% - 20px);
                }
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1) {
    .shop-grid {
        .product-section {
            .products-wrapper {
                .product-item {
                    &:nth-child(odd) {
                        margin-right: 40px;
                    }
                }
            }
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .shop-grid {
        .product-section {
            .products-wrapper {
                .product-item {
                    width: calc((100% - 100px) / 3) !important;
                    min-width: calc((100% - 100px) / 3);
                    margin-right: 50px;
                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
