.shop-hero {
    position: relative;
    height: 340px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: .45;
        z-index: 10;
    }

    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 5;
    }

    .hero-content {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        z-index: 15;
        text-align: center;

        svg {
            width: 50px;
        }

        .title {
            color: $light-beige;
            margin-bottom: 0;
        }
    }
}