.shop-menu {
  background: $white;
  transition: background-color 150ms linear;
  &.fixed {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 30;
    background-color: #ededed;
  }
  .menu-wrapper {
    padding: 0;
    margin: 0;
    list-style: none;
    &:not(.slick-slider) {
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
    }
    .menu-item {
      box-sizing: border-box;
      .menu-item-url {
        display: block;
        color: $base-dark-color;
        text-decoration: none;
        text-transform: uppercase;
        padding: 16px;
        white-space: nowrap;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
        font-size: 1.166rem;
      }
      &.active {
        border-bottom: 2px solid $disabled-grey;
        .menu-item-url {
          font-weight: 600;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .shop-menu {
    background: $white;
    &.fixed {
      top: 85px;
    }
  }
}
