.custom-boxes-slots {
    .slots-wrapper {
        display: flex;
        flex-wrap: wrap;
        .product-slot {
            position: relative;
            width: calc((100% - 32px) / 5);
            min-width: calc((100% - 32px) / 5);
            height: 100px;
            border: 1px solid rgba(51, 51, 51, 0.35);
            margin-bottom: 10px;
            &:not(:nth-child(5n)) {
                margin-right: 5px;
            }
            .img-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                min-width: 100%;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    .empty-slots {
        display: inline-block;
        color: $medium-black;
        font-family: $saa;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 24px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.custom-box-grid {
    flex: 1 0 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 40px;
    &:not(.slick-slider) {
        display: flex;
        overflow: hidden;
        .product-item {
            min-width: 100%;
        }
    }
    .slick-arrow {
        &.slick-prev {
            left: 0px;
        }
        &.slick-next {
            right: 0px;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .custom-box-grid {
        margin: 0;
        overflow: auto;
        flex-wrap: wrap;
        max-width: 100%;
        &:not(.slick-slider) {
            .product-item {
                width: calc(50% - 20px);
                min-width: calc(50% - 20px);
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1) {
    .custom-box-grid {
        .product-item {
            &:nth-child(odd) {
                margin-right: 40px;
            }
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .custom-box-grid {
        &:not(.slick-slider) {
            .product-item {
                width: calc((100% - 100px) / 3);
                min-width: calc((100% - 100px) / 3);
                margin-right: 50px;
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }
    }
}
