.products-featured-box {
    position: relative;
    height: 250px;
    margin: 86px auto 0;
    max-width: 688px;

    .img-wrapper {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &.grayscale {
            filter: grayscale(1);
        }
        &:not(.grayscale)::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.4);
        }
        .featured-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
    svg {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        height: 160px;
    }
    .content-wrapper {
        position: absolute;
        bottom: 35px;
        left: 0;
        width: 100%;
        z-index: 3;
        text-align: center;
        color: $medium-beige;
    }
}

@media(min-width: $breakpoint-tablet) {
    .products-featured-box {
        height: 400px;
        svg {
            top: -50px;
            height: 250px;
        }
        .content-wrapper {
            bottom: 65px;
        }
    }
}

@media(min-width: $breakpoint-desktop) {
    .products-featured-box {
        max-width: 770px;
        svg {
            height: 260px;
        }
        .content-wrapper {
            bottom: 90px;
        }
    }
}