.product-gallery {
    max-width: 400px;
    margin: 0 auto 30px;
    padding: 0 48px;
    height: 270px;
    box-sizing: border-box;
    &:not(.slick-slider) {
        overflow: hidden;
        display: flex;
        .img-wrapper {
            min-width: 100%;
        }
        .product-item {
            min-width: 100%;
        }
    }

    .slick-arrow {
        &.slick-prev {
            left: -20px;
        }
        &.slick-next {
            right: -20px;
        }
    }

    .img-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

@media(min-width: $breakpoint-tablet) {
    .product-gallery {
        width: 50%;
        min-width: 50%;
        height: 370px;
    }
}