.shop-content {
    .woocommerce-breadcrumb {
        text-align: center;
    }
}

@media (min-width: $breakpoint-tablet) {
    .shop-content {
        .woocommerce-breadcrumb {
            text-align: left;
        }
    }
    .product-details {
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px;
        .product-content {
            width: 50%;
        }
    }
}
