.product-infos {
    text-align: center;
    .category {
        font-family: $saa;
        font-size: 1.25rem;
        text-decoration: none;
        color: $black-olive;
        margin-bottom: 16px;
    }

    .title {
        color: $medium-black;
        margin-bottom: 26px;
    }

    .price {
        font-family: $saa;
        margin-bottom: 26px;
        color: $medium-black;
        font-size: 1.25rem;
    }

    .add-to-cart-wrapper {
        margin-bottom: 44px;
        .product-counter {
            width: 190px;
            margin: 0 auto 16px;
        }

        .add-to-cart {
            width: 190px;
            &:disabled {
                width: max-content;
            }
        }
    }

    .short-description {
        font-size: 14px;
        color: $medium-black;
        font-weight: 300;
        margin-bottom: 30px;
        strong {
            font-weight: 600;
        }
    }

    .product-labels {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 29px;
        svg {
            height: 33px;
            padding: 0 10px;
            box-sizing: border-box;
        }
    }

    .long-description {
        color: $medium-black;
        h2 {
            font-size: 18px;
        }
        p {
            font-size: 14px;
            font-weight: 300;
            line-height: 1.7;
        }
        strong {
            font-weight: 600;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .product-infos {
        text-align: left;
        padding-left: 20px;

        .woocommerce-breadcrumb {
            display: block;
            padding: 0;
            margin-bottom: 26px;
        }

        .add-to-cart-wrapper {
            .product-counter {
                margin-left: 0;
            }
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .product-infos {
        .add-to-cart-wrapper {
            display: flex;
            .product-counter {
                width: 190px;
                margin: 0 24px 0 0;
            }

            .add-to-cart {
                width: 190px;
            }
        }
    }
}
