.related-products-section {
    margin: 60px auto 0;
    text-align: center;
    .products-wrapper {
        max-width: 400px;
        margin: 0 auto 0;
        padding-bottom: 40px;
        &:not(.slick-slider) {
            overflow: hidden;
            display: flex;
            .product-item {
                min-width: 100%;
            }
        }
        .slick-arrow {
            &.slick-prev {
                left: 0;
            }
            &.slick-next {
                right: 0;
            }
        }
        .product-item {
            .img-wrapper {
                height: 300px;
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .related-products-section {
        .products-wrapper {
            max-width: 800px;
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .related-products-section {
        .products-wrapper {
            max-width: none;
        }
    }
}