.variations {
    margin: 0 auto 20px;
    width: max-content;
    .variation {
        label {
            text-align: left;
            font-size: 14px;
            display: block;
            margin-bottom: 5px;
        }
        select {
            width: 190px;
            opacity: 0;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
.select2-container--default {
    .select2-selection--single,
    .select2-dropdown {
        border-width: 2px;
    }
}

@media (min-width: $breakpoint-tablet) {
    .variations {
        margin: 0 0 20px;
    }
}
