.not-found {
  height: 100vh;
  .img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    color: #fff;
    text-align: center;
    .h1 {
      font-size: 10rem;
      margin: 0 0 40px;
    }
    .description {
      font-size: 1.5rem;
      line-height: 1.5;
      margin: 0 0 40px;
    }
  }
}