.home-badges {
	padding: 40px 48px 110px;
	text-align: center;
	box-sizing: border-box;
	background-color: $cream;
	.title {
		margin: 0 0 40px;
	}

	.badges-wrapper {
		&:not(.slick-slider) {
			display: flex;
			overflow: hidden;
			.badge-item {
				min-width: 100%;
			}
		}
		max-width: 400px;
		margin: 0 auto;
		.badge-item {
			padding: 0 10px;
			box-sizing: border-box;
			svg {
				width: 130px;
				height: 140px;
				margin-bottom: 24px;
			}
			.description {
				margin: 0;
				font-size: 1.25rem;
				line-height: 1.5;
				color: $black-olive;
			}
		}

		.slick-dots {
			bottom: -55px;
		}

		.slick-arrow {
			&.slick-prev {
				left: -48px;
			}
			&.slick-next {
				right: -48px;
			}
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.home-badges {
		.badges-wrapper {
			max-width: none;
			margin: 0;
			.badge-item {
				padding: 0 20px;
			}
			&:not(.slick-slider) {
				.badge-item {
					min-width: calc(100% / 2);
				}
			}
		}
	}
}

@media (min-width: $breakpoint-desktop) {
	.home-badges {
		.badges-wrapper {
			max-width: 1300px;
			margin: 0 auto;
			padding-bottom: 85px;
			.badge-item {
				padding: 0 35px;
			}
			&:not(.slick-slider) {
				.badge-item {
					min-width: calc(100% / 3);
				}
			}
		}
	}
}
