.home-conversion {
    background-color: $dark-brown;
    color: $white;
    .img-wrapper {
        position: relative;
        height: 300px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .content-wrapper {
        text-align: center;
        padding: 40px 20px;
        .title {
            margin: 0 0 25px;
        }
        .subtitle {
            text-transform: uppercase;
            font-size: 1.25rem;
            margin: 0 0 24px;
            font-family: $lydian;
        }
        .description {
            font-size: 1.25rem;
            line-height: 1.5;
            margin: 0 0 40px;
        }
        .button {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

@media(min-width: $breakpoint-tablet) {
    .home-conversion {
        display: flex;
        align-items: stretch;
        min-height: 540px;
        .img-wrapper {
            width: 65%;
            min-width: 65%;
            height: auto;
            min-height: auto;
        }
        .content-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
            padding: 40px 40px;

        }
    }
}

@media(min-width: $breakpoint-desktop) {
    .home-conversion {
        .content-wrapper {
            padding: 40px 60px;
        }
    }
}

