.home-custom-cards {
	.custom-item {
		position: relative;
		height: 400px;
		.img-wrapper {
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: 5;
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				z-index: 6;
			}
		}
		.content-wrapper {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			transform: translateY(-50%);
			z-index: 10;
			text-align: center;
			padding: 20px;
			box-sizing: border-box;
			.title {
				color: $white;
				margin: 0 0 40px;
			}
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.home-custom-cards {
		display: flex;
		.custom-item {
			height: 450px;
			min-width: 50%;
			.content-wrapper {
				padding: 40px;
			}
		}
	}
}
