.home-description {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    margin: 0 auto;
    h2 {
        margin: 0 0 35px;
    }
    p {
        font-size: 1.25rem;
        line-height: 1.5;
        margin-bottom: 40px;
    }
}