.home-featured-categories {
	background-color: $light-grey;
	box-sizing: border-box;
	padding: 0 48px;
	.categories-wrapper {
		max-width: 400px;
		margin: 0 auto;
		padding: 50px 0;
		&:not(.slick-slider) {
			display: flex;
			overflow-x: auto;
			-ms-overflow-style: none;
			scrollbar-width: none;
			&::-webkit-scrollbar {
				display: none;
			}
		}
		.category-item {
			position: relative;
			text-align: center;
			.img-wrapper {
				position: relative;
				width: 100%;
				height: 470px;
				margin: 0 auto 24px;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    mix-blend-mode: screen;
                    opacity: 0;
                    transition: background-color 150ms linear;
                }
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;

				}
			}
			a {
				margin-bottom: 24px;
				text-decoration: none;
				color: $medium-black;
				font-weight: 700;
				font-size: 1.333rem;
				font-family: $saa;
				&:hover {
					text-decoration: underline;
				}
				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			p {
				font-size: 1.25rem;
				color: $black-olive;
			}
            &:hover {
                .img-wrapper {
                    &::after {
                        background-color: $medium-beige;
                        opacity: .35;
                    }
                }
            }
		}
		.slick-arrow {
			top: 285px;
			&.slick-prev {
				left: -48px;
			}
			&.slick-next {
				right: -48px;
			}
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.home-featured-categories {
		.categories-wrapper {
			max-width: 1300px;
			.category-item {
				width: auto;
				min-width: auto;
				flex: 1 1 0;
				padding: 0 8px;
				box-sizing: border-box;
				&:not(:last-child) {
					margin-right: 16px;
				}
				.img-wrapper {
					height: 285px;
				}
			}
		}
	}
}

@media (min-width: $breakpoint-desktop) {
	.home-featured-categories {
		padding: 0 100px;
		.categories-wrapper {
			max-width: none;
		}
	}
}
