.home-hero {
    height: 100vh;
    overflow: hidden;
    .hero-slide {
        position: relative;
        height: 100vh;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #000000B3 0%, #0000008A 18%, #00000080 35%, #00000085 56%, #0000005C 85%, #0000008F 100%);
            z-index: 4;
        }
        .hero-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .content-wrapper {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            z-index: 5;
            color: $medium-beige;
            text-align: center;
            padding: 50px 48px;
            box-sizing: border-box;
            transform: translateY(-50%);
            height: auto;
            min-height: auto;
            .hero-title {
                margin-bottom: 25px;
            }
            .hero-description {
                margin-bottom: 38px;
                font-size: 18px;
            }
        }
    }
}