@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.home-highlights {
    display: flex;
    background-color: $medium-black;
    overflow: hidden;
    p {
        background-color: $medium-black;
        display: flex;
        flex: 1 0 100%;
        margin: 0;
        font-family: $lydian;
        font-size: 1.125rem;
        color: $light-beige;
        white-space: nowrap;
        user-select: none;
        animation: marquee 20s linear infinite;
        span {
            flex-grow: 1;
            text-align: center;
            display: inline-block;
            padding: 25px 20px;
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .home-highlights {
        &:not(.animated) {
            p {
                animation: none;
            }
        }
    }
}
