.home-journals {
  padding: 40px 48px 0;
  text-align: center;
  box-sizing: border-box;
  .content-wrapper {
    margin-bottom: 20px;
    .title {
      margin: 0 0 32px;
    }
    .description {
      font-size: 1.25rem;
      line-height: 1.5;
      margin-bottom: 40px;
    }
  }
  .journals-wrapper {
    &:not(.slick-slider) {
      display: flex;
      overflow: hidden;
      .journal-item {
        min-width: 100%;
      }
    }
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 110px;
    .journal-item {
      padding: 20px 0;
      box-sizing: border-box;
      .img-wrapper {
        position: relative;
        height: 230px;
        width: 230px;
        margin: 0 auto 24px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .journal-name {
        display: inline-block;
        display: -webkit-box;
        font-size: 1.33rem;
        color: $medium-black;
        width: 230px;
        height: 2.3em;
        overflow: hidden;
        text-decoration: none;
        font-family: $saa;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin: 0 auto 10px;
        &:hover {
          text-decoration: underline;
        }
      }
      .journal-description {
        font-size: 1.25rem;
        line-height: 1.5;
        color: $medium-black;
        margin: 0 auto;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 230px;
      }
    }
    .slick-arrow {
      top: auto;
      bottom: 55px;
      transform: translateY(50%);
      &.slick-prev {
        left: -48px;
      }
      &.slick-next {
        right: -48px;
      }
    }
    .slick-dots {
      bottom: 55px;
      transform: translate(-50%, 50%);
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .home-journals {
    .journals-wrapper {
      max-width: none;
      margin: 0;
      &:not(.slick-slider) {
        .journal-item {
          min-width: calc(100% / 2);
        }
      }
      .journal-item {
        padding: 10px;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .home-journals {
    text-align: left;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .content-wrapper {
      min-width: 40%;
    }
    .journals-wrapper {
      text-align: center;
      min-width: calc(60% - 48px);
      max-width: none;
      margin: 0 0 0 48px;
    }
  }
}
