.home-products {
	padding: 40px 48px 110px;
	text-align: center;
	box-sizing: border-box;
	.content-wrapper {
		margin-bottom: 20px;
		.title {
			margin: 0 0 24px;
		}
		.subtitle {
			font-size: 1.25rem;
			text-transform: uppercase;
			margin-bottom: 24px;
			font-family: $lydian;
		}
		.description {
			font-size: 1.25rem;
			line-height: 1.5;
			margin-bottom: 40px;
		}
	}
	.products-wrapper {
		max-width: 400px;
		margin: 0 auto;
		&:not(.slick-slider) {
			display: flex;
			overflow: hidden;
			.product-item {
				min-width: 100%;
			}
		}

		.product-item {
			padding: 20px;
			box-sizing: border-box;
		}

		.slick-dots {
			bottom: -55px;
		}

		.slick-arrow {
			transition: 150ms linear;
			&.slick-prev {
				left: -48px;
			}
			&.slick-next {
				right: -48px;
			}
			&.slick-disabled {
				opacity: 0;
			}
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.home-products {
		.products-wrapper {
			max-width: none;
			margin: 0;
			&:not(.slick-slider) {
				.product-item {
					min-width: calc(100% / 3);
				}
			}
		}
	}
}

@media (min-width: $breakpoint-desktop) {
	.home-products {
		text-align: left;
		max-width: 1300px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		.content-wrapper {
			min-width: 40%;
		}
		.products-wrapper {
			text-align: center;
			min-width: calc(60% - 48px);
			max-width: none;
			margin: 0 0 0 48px;
		}
	}
}
