.about-menu {
  background-color: $white;
  z-index: 20;
  transition: background-color 150ms linear;
  &.fixed {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #ededed;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .menu-item {
      &.active {
        border-bottom: 2px solid $dim-gray;
        a {
          font-weight: 600;
        }
      }
      a {
        display: block;
        font-size: 1.166rem;
        color: $base-dark-color;
        text-transform: uppercase;
        text-decoration: none;
        padding: 16px;
      }
    }
  }
}

.about-us-wrapper {
  padding-bottom: 50px;
  .section {
    padding-top: 50px;
    .imgs-wrapper {
      position: relative;
      height: 300px;
      .img-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.back-image {
          height: 227px;
          width: 231px;
          img {
            transform: translate(-10px, 0);
          }
        }
        &.front-image {
          height: 164px;
          width: 144px;
          img {
            transform: translate(60px, -50%);
          }
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .title {
      text-align: center;
      color: $medium-black;
    }
    .description {
      color: $medium-black;
      font-size: 1.33rem;
      line-height: 1.6;
      text-align: center;
      font-weight: 300;
      text-align: left;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .about-us-wrapper {
    .section {
      display: flex;
      padding: 40px 0;
      &:nth-child(even) {
        .imgs-wrapper {
          margin: 0 0 0 40px;
          order: 1;
          .img-wrapper {
            right: -40px;
            left: auto;
            &.back-image {
              height: 266px;
              width: 178px;
              img {
                transform: translate(-110%, -40%);
              }
            }
            &.front-image {
              img {
                transform: none;
              }
            }
          }
        }
      }

      .imgs-wrapper {
        height: auto;
        min-height: 450px;
        min-width: 45%;
        width: 45%;
        margin-right: 40px;
        .img-wrapper {
          transform: translateY(-50%);
          left: -40px;
          &.back-image {
            height: 171px;
            width: 171px;
            z-index: 3;
            img {
              transform: translate(110%, -120%);
            }
          }
          &.front-image {
            height: 392px;
            width: 311px;
            img {
              transform: none;
            }
          }
        }
      }
      .title {
        text-align: left;
        margin-top: 0;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .about-us-wrapper {
    .section {
      padding: 70px 0;
      &:nth-child(even) {
        .imgs-wrapper {
          .img-wrapper {
            right: 0;
            left: auto;
            &.back-image {
              height: 316px;
              width: 211px;
              img {
                transform: translate(-190%, -65%);
              }
            }
            &.front-image {
              img {
                transform: none;
              }
            }
          }
        }
      }

      .imgs-wrapper {
        min-width: 50%;
        width: 50%;
        min-height: 600px;
        .img-wrapper {
          left: 0;
          &.back-image {
            height: 260px;
            width: 260px;
            img {
              transform: translate(110%, -100%);
            }
          }
          &.front-image {
            height: 568px;
            width: 451px;
          }
        }
      }
    }
  }
}
