.about-us-hero {
  position: relative;
  padding-bottom: 200px;
  margin-bottom: 30px;
  .imgs-wrapper {
    position: relative;
    height: 300px;
    .img-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &.front-image {
        height: 227px;
        width: 231px;
        img {
          transform: translate(-10px, 0);
        }
      }
      &.back-image {
        height: 164px;
        width: 144px;
        img {
          transform: translate(60px, 50%);
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .title {
    display: none;
  }
  .description {
    color: $medium-black;
    font-size: 2.5rem;
    line-height: 1.6;
    text-align: center;
    font-family: $room205;
    text-align: left;
  }
  .img-wrapper {
    position: absolute;
    bottom: 0;
    &.first-image {
      left: 0;
      height: 133px;
      width: 117px;
      z-index: -1;
      transform: translateY(-100%);
    }
    &.second-image {
      right: 0;
      height: 151px;
      width: 116px;
      svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 130px;
        width: 130px;
        z-index: 5;
        fill: $light-beige;
        transform: translate(-40%, -30%);
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .about-us-hero {
    display: flex;
    padding-bottom: 0;
    .imgs-wrapper {
      height: auto;
      min-height: 450px;
      min-width: 40%;
      width: 40%;
      margin-right: 40px;
      .img-wrapper {
        &.front-image {
          height: 290px;
          width: 290px;
          img {
            transform: translate(-10px, -10%);
          }
        }
        &.back-image {
          height: 200px;
          width: 180px;
          img {
            transform: translate(75px, 50%);
          }
        }
      }
    }
    .hero-content {
      max-width: 300px;
      .title {
        text-align: left;
        margin-top: 0;
      }
      .description {
        text-align: left;
      }
    }
    .img-wrapper {
      &.first-image {
        top: 80px;
        right: 19px;
        height: 186px;
        width: 164px;
        left: auto;
        transform: none;
      }
      &.second-image {
        right: 74px;
        height: 176px;
        width: 135px;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .about-us-hero {
    .imgs-wrapper {
      min-height: 530px;
      min-width: 50%;
      width: 50%;
      margin-right: 80px;
      .img-wrapper {
        &.front-image {
          height: 400px;
          width: 550px;
        }
        &.back-image {
          height: 300px;
          width: 260px;
          img {
            transform: translate(220px, 25%);
          }
        }
      }
    }
    .img-wrapper {
      &.first-image {
        right: 67px;
        height: 200px;
        width: 180px;
      }
      &.second-image {
        right: 150px;
        height: 217px;
        width: 167px;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop-wide) {
  .about-us-hero {
    .img-wrapper {
      &.first-image {
        right: calc((100% - 1400px) / 2);
        height: 250px;
        width: 200px;
      }
      &.second-image {
        right: calc(((100% - 1400px) / 2) + 78px);
        height: 230px;
        width: 190px;
      }
    }
  }
}
