.product-item {
    text-align: center;
    padding: 20px 48px;
    box-sizing: border-box;
    max-width: 400px;
    width: 100% !important;
    margin: 0 auto;
    display: block !important;
    .img-wrapper {
        display: block;
        position: relative;
        height: 230px;
        width: 100%;
        margin-bottom: 24px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .product-name {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 18px;
        color: $medium-black;
        margin: 0 auto 10px;
        height: 42px;
        width: max-content;
        max-width: 100%;
        text-decoration: none;
        overflow: hidden;
        transition: text-decoration 150ms linear;
        &:hover {
            text-decoration: underline;
        }
    }
    .product-price {
        font-size: 28px;
        font-weight: 700;
        margin: 0 0 24px;
        color: $medium-black;
        font-family: $saa;
    }
    .add-to-cart-wrapper {
        max-width: 200px;
        margin: 0 auto;
        .product-counter {
            width: 100%;
            margin-bottom: 16px;
        }
        .add-to-cart {
            width: 100%;
        }
    }
}

@media(min-width: $breakpoint-tablet) {
    .product-item {
        margin: 0;
        .product-name {
            font-size: 20px;
            height: 45px;
        }
    }
}