.checkout-content {
  .woocommerce-breadcrumb {
    text-align: center;
  }
  h1.title {
    text-align: center;
    color: $medium-black;
    margin: 0 0 30px;
    font-size: 2.5rem;
  }
  .woocommerce {
    .checkout {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .checkout-customer-data {
        padding: 0 0 45px;
        h3.form-title {
          margin: 37px 0 16px;
          color: $medium-black;
          font-size: 1.25rem;
        }
        p.description {
          color: $medium-black;
          font-size: 1.16rem;
          margin: 0 0 12px;
        }

        p.form-row {
          width: 100%;
          min-width: 100%;
          margin: 0 0 24px;
          label {
            display: block;
            margin-bottom: 5px;
          }
          input {
            width: 100%;
            border: 1px solid rgba(51, 51, 51, 0.35);
          }
          .select2-container--default .select2-selection--single {
            border: 1px solid rgba(51, 51, 51, 0.35);
          }
          .woocommerce-input-wrapper {
            display: block;
            textarea {
              width: 100%;
              resize: none;
              box-sizing: border-box;
              border-radius: 0;
              border: 1px solid rgba(51, 51, 51, 0.35);
              padding: 13px 16px;
              font-size: 16px;
              color: $medium-black;
              outline: none;
            }
          }
        }
        .woocommerce-form__label-for-checkbox {
          display: block;
          display: flex;
          align-items: center;
          span {
            cursor: pointer;
          }
        }
        .shipping-selection {
          .woocommerce-shipping-methods {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: left;
            li {
              display: flex;
              align-items: center;
              &:not(:last-child) {
                margin-bottom: 19px;
              }
              label {
                font-weight: 400;
                font-size: 16px;
                cursor: pointer;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
          .woocommerce-shipping-destination {
            text-align: left;
          }
          .woocommerce-shipping-calculator {
            .shipping-calculator-form {
              will-change: height;
              p {
                margin: 0 0 24px 0;
                &:first-child {
                  margin-top: 24px;
                }
              }
              input {
                width: 100%;
              }
            }
          }
        }
      }
      .woocommerce-checkout-review-order {
        order: 1;
        margin-bottom: 54px;
        background-color: $cream;
        padding: 45px 19px;
        box-sizing: border-box;
        color: $medium-black;
        height: max-content;
        h3 {
          margin: 0 0 14px;
          text-transform: uppercase;
          font-size: 14px;
        }
        table {
          display: block;
          width: 100%;
          td,
          th {
            padding: 0;
          }
          tbody {
            width: 100%;
            max-width: 100%;
            display: block;
            tr {
              display: flex;
              border-bottom: 1px solid $nobel-grey;
              td {
                padding: 15px 0;
                &.product-details {
                  display: flex;
                  flex-wrap: wrap;
                  box-sizing: border-box;
                  padding-right: 15px;
                  flex: 0 0 75%;
                  .product-thumbnail {
                    position: relative;
                    display: block;
                    width: 130px;
                    height: 150px;
                    margin-right: 30px;
                    img {
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      object-fit: contain;
                    }
                    .product-quantity {
                      position: absolute;
                      top: 0;
                      right: 0;
                      height: 16px;
                      width: 16px;
                      border-radius: 50%;
                      border: 1px solid $dim-gray;
                      font-size: 12px;
                      color: $gray-34;
                      text-decoration: none;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                  }
                  .product-resume {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    flex: 1 1 auto;
                    .product-name,
                    > a {
                      font-size: 16px;
                      text-decoration: none;
                      color: $medium-black;
                      margin-bottom: 13px;
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                    p {
                      margin: 0;
                    }
                  }
                }
                &.product-total {
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  flex: 0 0 25%;
                  text-align: right;
                  .woocommerce-Price-amount {
                    font-family: $saa;
                    font-size: 14px;
                    color: $gray-34;
                    margin-bottom: 18px;
                  }
                }
              }
            }
          }
          tfoot {
            display: block;
            tr {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 24px 0;
              border-bottom: 1px solid #989898;
              td {
                display: block;
                width: 100%;
              }
              &.cart-discount-th {
                width: 100%;
                td {
                  .coupon {
                    display: flex;
                    input {
                      flex: 1 1 auto;
                      width: 100%;
                    }
                  }
                }
              }
              &.cart-discount {
                td {
                  display: flex;
                  padding: 0 0;
                  span.amount {
                    font-family: $saa;
                  }
                  a.th-woocommerce-remove-coupon {
                    margin-left: auto;
                    text-decoration: none;
                    color: $medium-black;
                    font-family: $roboto;
                    text-transform: unset;
                    font-weight: 400;
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
              &.cart-subtotal,
              &.shipping {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 24px 0;
                th {
                  font-weight: 400;
                }
                td {
                  text-align: right;
                  font-size: 14px;
                  font-weight: 600;
                }
              }
              &.tax-total,
              &.order-total {
                td {
                  text-align: right;
                }
              }
            }
          }
        }
        .woocommerce-checkout-payment {
          padding: 24px 0 0;
          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 20px;
            li {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              &:not(:last-child) {
                margin-bottom: 15px;
              }
              label {
                display: inline-block;
                cursor: pointer;
                svg {
                  height: 22px;
                }
              }
              div {
                flex: 1 0 100%;
              }
              .payment_method_stripe {
                .wc-credit-card-form {
                  padding: 22px 19px;
                  border: 1px solid rgba(51, 51, 51, 0.35);
                  .wc-stripe-elements-field {
                    border: 1px solid rgba(51, 51, 51, 0.35);
                  }
                }
                .woocommerce-SavedPaymentMethods-saveNew {
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
          #place_order {
            display: block;
            width: 100%;
            margin-top: 24px;
            margin-left: auto;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .checkout-content {
    .woocommerce {
      .checkout {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .checkout-customer-data {
          max-width: calc(65% - 50px);
          width: calc(65% - 50px);
        }
        .woocommerce-billing-fields__field-wrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          p.form-row {
            &#billing_first_name_field,
            &#billing_last_name_field,
            &#billing_city_field,
            &#billing_state_field,
            &#billing_postcode_field,
            &#billing_phone_field {
              width: calc(50% - 8px);
              min-width: calc(50% - 8px);
            }
          }
        }
        .woocommerce-checkout-review-order {
          max-width: calc(35% - 50px);
          width: calc(35% - 50px);
        }
      }
    }
  }
}

.select2-container--default .select2-dropdown {
  border-color: rgba(51, 51, 51, 0.35);
  background-color: $white;
  .select2-search__field {
    border-color: rgba(51, 51, 51, 0.35);
  }
}