.checkout-hero {
    position: relative;
    height: 340px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: .45;
        z-index: 10;
    }

    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 5;
    }

    .hero-content {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        z-index: 15;
        text-align: center;

        svg {
            width: 100px;
            height: 100px;
            margin-bottom: 15px;
        }

        .title {
            color: $light-beige;
            font-size: 2.5rem;
            cursor: default;
            margin: 0;
        }
    }
}