/* Colors: */
$white: #fff;
$cream: #ffefe1;
$dark-cream: #ffe6d1;
$medium-beige: #d3b985;
$dark-wine: #d3b985;
$light-beige: #ddc691;
$medium-black: #333333;
$black-olive: #3d3d3d;
$dark-purple: #35273f;
$reddish-brown: #7c342c;
$yellow-dark-beige: #c0a958;
$dark-beige: #a4895d;
$light-brown: #958480;
$dark-brown: #796b68;
$salmon: #da7d67;
$base-dark-color: #565656;
$black: #000;
$light-grey: #f8f6f6;
$suva-grey: #8e8e8e;
$grey: #7e7e7e;
$nobel-grey: #989898;
$gray-34: #575757;
$dim-gray: #707070;
$dark-gray: #acacac;
$pavlova: #d6c498;

/* Breakpoints */
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1366px;
$breakpoint-desktop-wide: 1440px;

/* Font */
$font-path: "../../assets/fonts";
$lydian: "Lydian", sans-serif;
$roboto: "Roboto", sans-serif;
$suisseworks: "Suissework", sans-serif;
$saa: "SAA", sans-serif;
$room205: "Room205", sans-serif;
